Mobile Picking und Voice Assistant/n8n/backups/20260326-130557/all-workflows.json
[{"updatedAt":"2026-03-23T14:05:40.296Z","createdAt":"2026-03-23T13:45:21.497Z","id":"UjLE29R-B163W9p3s6vIO","name":"Daily Picking Report","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8 * * 1-5"}]}},"name":"Schedule (Mo-Fr 08:00)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"42174f26-018b-43b5-8911-b7d34e9a630c"},{"parameters":{"options":{}},"name":"Generate Report","type":"n8n-nodes-base.set","typeVersion":3,"position":[208,0],"id":"6d60cdc9-a5f3-4ec8-a5de-8f022700a8ee"}],"connections":{"Schedule (Mo-Fr 08:00)":{"main":[[{"node":"Generate Report","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":true},"staticData":{"node:Schedule (Mo-Fr 08:00)":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"a5fe10f0-e7c3-441f-af6e-5dee82d07b30","activeVersionId":"a5fe10f0-e7c3-441f-af6e-5dee82d07b30","versionCounter":12,"triggerCount":1,"tags":[{"updatedAt":"2026-03-23T13:44:28.786Z","createdAt":"2026-03-23T13:44:28.786Z","id":"NdD2hAo2kj9BGX52","name":"reporting"}],"shared":[{"updatedAt":"2026-03-23T13:45:21.497Z","createdAt":"2026-03-23T13:45:21.497Z","role":"workflow:owner","workflowId":"UjLE29R-B163W9p3s6vIO","projectId":"iBAWD267Vept8IBP","project":{"updatedAt":"2026-03-23T10:47:09.598Z","createdAt":"2026-03-21T19:38:32.132Z","id":"iBAWD267Vept8IBP","name":"Endrit Murati <endrit.murati99@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"a3d35fcb-0e60-4b54-bc69-fded945cc6eb"}}],"versionMetadata":{"name":"Version a5fe10f0","description":""}},{"updatedAt":"2026-03-23T14:05:32.777Z","createdAt":"2026-03-23T13:45:35.858Z","id":"8eWVrUfTAUvOAbpdug8oP","name":"Quality Alert Created","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"quality-alert-created","responseMode":"responseNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"a03dbbe3-2c88-4ceb-a392-7f4d885e3c29","webhookId":"0cb18d46-427d-48a6-873c-57297c47e679"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'received', alert_id: $json.alert_id }) }}","options":{}},"name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[208,0],"id":"763c4b54-1679-4b4d-a5f5-f775d2133a8e"},{"parameters":{"options":{}},"name":"Format Alert","type":"n8n-nodes-base.set","typeVersion":3,"position":[208,208],"id":"d1f89f16-2459-479a-b90b-de7de00825c7"}],"connections":{"Webhook":{"main":[[{"node":"Respond","type":"main","index":0},{"node":"Format Alert","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":true},"staticData":null,"meta":null,"pinData":{},"versionId":"76586d0e-231d-4046-a4bf-208822124aac","activeVersionId":"76586d0e-231d-4046-a4bf-208822124aac","versionCounter":11,"triggerCount":1,"tags":[{"updatedAt":"2026-03-23T13:45:34.296Z","createdAt":"2026-03-23T13:45:34.296Z","id":"vQ8WlKGk0WWSGlXo","name":"quality"}],"shared":[{"updatedAt":"2026-03-23T13:45:35.858Z","createdAt":"2026-03-23T13:45:35.858Z","role":"workflow:owner","workflowId":"8eWVrUfTAUvOAbpdug8oP","projectId":"iBAWD267Vept8IBP","project":{"updatedAt":"2026-03-23T10:47:09.598Z","createdAt":"2026-03-21T19:38:32.132Z","id":"iBAWD267Vept8IBP","name":"Endrit Murati <endrit.murati99@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"a3d35fcb-0e60-4b54-bc69-fded945cc6eb"}}],"versionMetadata":{"name":"Version 76586d0e","description":""}},{"updatedAt":"2026-03-24T10:17:36.015Z","createdAt":"2026-03-23T13:44:30.363Z","id":"BLy10U9JPRgRHnq1wD50z","name":"Pick Confirmed","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"pick-confirmed","responseMode":"responseNode","options":{"rawBody":false}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-400,112],"id":"e84ba48f-6355-4ac2-8a59-eca5a220c549","webhookId":"a1ab9944-c7aa-4e68-bdfa-a378e36f5c10"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ !!$json.picking_id }}","value2":true}]},"options":{}},"name":"Picking komplett?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-208,112],"id":"8b701185-433d-4d68-98e7-ac53945f4c77"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'received' }) }}","options":{}},"name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[0,0],"id":"f098fd07-1b6c-439d-a53a-35334d3b3fdd"},{"parameters":{"options":{}},"name":"Log Completion","type":"n8n-nodes-base.set","typeVersion":3,"position":[16,176],"id":"0f7c285d-3231-48a0-afa0-adabfdadf301"}],"connections":{"Webhook":{"main":[[{"node":"Picking komplett?","type":"main","index":0}]]},"Picking komplett?":{"main":[[{"node":"Respond","type":"main","index":0}],[{"node":"Respond","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":true,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":{},"versionId":"ebc01fe8-0922-42e3-8f01-4b48ea06048a","activeVersionId":"eae22871-20db-4ed6-b301-f8492194b88f","versionCounter":19,"triggerCount":1,"tags":[{"updatedAt":"2026-03-23T13:44:28.786Z","createdAt":"2026-03-23T13:44:28.786Z","id":"NdD2hAo2kj9BGX52","name":"reporting"},{"updatedAt":"2026-03-23T13:44:41.282Z","createdAt":"2026-03-23T13:44:41.282Z","id":"CdDBz231hfVoLI5j","name":"picking"}],"shared":[{"updatedAt":"2026-03-23T13:44:30.363Z","createdAt":"2026-03-23T13:44:30.363Z","role":"workflow:owner","workflowId":"BLy10U9JPRgRHnq1wD50z","projectId":"iBAWD267Vept8IBP","project":{"updatedAt":"2026-03-23T10:47:09.598Z","createdAt":"2026-03-21T19:38:32.132Z","id":"iBAWD267Vept8IBP","name":"Endrit Murati <endrit.murati99@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"a3d35fcb-0e60-4b54-bc69-fded945cc6eb"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-24T18:07:32.810Z","createdAt":"2026-03-24T18:07:32.810Z","id":"B3vBzqOM2J7pkahwUGtsn","name":"Voice Exception Query","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"voice-exception-query","responseMode":"responseNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"a2f57c3f-f3e8-4c87-a128-17a1814b4ddb","webhookId":"ada4f63c-cf6b-443e-8af7-2ef1dad01bb8"},{"parameters":{"options":{}},"name":"Draft Answer","type":"n8n-nodes-base.set","typeVersion":3,"position":[256,0],"id":"535d3dfd-ba09-4674-9a84-17c45c6b6e2e"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'ok', tts_text: $node[\"Draft Answer\"].json[\"tts_text\"], source: 'n8n', correlation_id: $json.correlation_id }) }}","options":{}},"name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[512,0],"id":"e5107764-afd3-48b2-9e08-953916e5e0e0"}],"connections":{"Webhook":{"main":[[{"node":"Draft Answer","type":"main","index":0}]]},"Draft Answer":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"e892cc46-dbfe-4797-9173-acbf6a4b2237","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[{"updatedAt":"2026-03-24T18:07:31.270Z","createdAt":"2026-03-24T18:07:31.270Z","id":"j2mcEj3loBauFkca","name":"voice"}],"shared":[{"updatedAt":"2026-03-24T18:07:32.810Z","createdAt":"2026-03-24T18:07:32.810Z","role":"workflow:owner","workflowId":"B3vBzqOM2J7pkahwUGtsn","projectId":"iBAWD267Vept8IBP","project":{"updatedAt":"2026-03-23T10:47:09.598Z","createdAt":"2026-03-21T19:38:32.132Z","id":"iBAWD267Vept8IBP","name":"Endrit Murati <endrit.murati99@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"a3d35fcb-0e60-4b54-bc69-fded945cc6eb"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-24T18:08:11.686Z","createdAt":"2026-03-24T18:08:11.686Z","id":"gbORshGxWbOEtkpdV2hl4","name":"Quality Alert Created Legacy Draft","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"quality-alert-created","responseMode":"responseNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[320,224],"id":"2fd80c0e-669c-4ec5-b01f-0b9e396c62b2","webhookId":"774590eb-8046-4724-845d-1a5d1feb94cf"},{"parameters":{"options":{}},"name":"Draft Assessment","type":"n8n-nodes-base.set","typeVersion":3,"position":[640,224],"id":"a9d7e801-0979-40ac-a949-56ec1f1f19ba"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'received', tts_text: 'Quality Alert empfangen.', source: 'n8n', correlation_id: $json.correlation_id }) }}","options":{}},"name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[560,64],"id":"aef67591-18c7-4ba5-838a-61cfb79c00be"}],"connections":{"Webhook":{"main":[[{"node":"Respond","type":"main","index":0},{"node":"Draft Assessment","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"357e6251-cf57-4992-971c-509f544003eb","activeVersionId":null,"versionCounter":3,"triggerCount":0,"tags":[{"updatedAt":"2026-03-23T13:45:34.296Z","createdAt":"2026-03-23T13:45:34.296Z","id":"vQ8WlKGk0WWSGlXo","name":"quality"}],"shared":[{"updatedAt":"2026-03-24T18:08:11.686Z","createdAt":"2026-03-24T18:08:11.686Z","role":"workflow:owner","workflowId":"gbORshGxWbOEtkpdV2hl4","projectId":"iBAWD267Vept8IBP","project":{"updatedAt":"2026-03-23T10:47:09.598Z","createdAt":"2026-03-21T19:38:32.132Z","id":"iBAWD267Vept8IBP","name":"Endrit Murati <endrit.murati99@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"a3d35fcb-0e60-4b54-bc69-fded945cc6eb"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-24T18:08:26.178Z","createdAt":"2026-03-24T18:08:26.178Z","id":"daNZ5N_6MZL4YkIvTLkp7","name":"Pick Confirmed","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"pick-confirmed","responseMode":"responseNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[128,192],"id":"12d86ed4-9b2d-459b-8fae-9038891dcf42","webhookId":"a1fa59d6-28f9-47f4-806b-8848fde9a2b4"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ !!$json.payload.picking_id }}","value2":true}]},"options":{}},"name":"Has Picking?","type":"n8n-nodes-base.if","typeVersion":2,"position":[352,192],"id":"df8156fd-f83a-4f7e-bde3-361521ee49fb"},{"parameters":{"options":{}},"name":"Format Completion","type":"n8n-nodes-base.set","typeVersion":3,"position":[560,272],"id":"dd5724c1-302a-4f40-b815-1e1a25426438"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'received', tts_text: 'Completion Event empfangen.', source: 'n8n', correlation_id: $json.correlation_id }) }}","options":{}},"name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[560,64],"id":"3c667726-0e32-4267-9ed0-b8b1c8401a64"}],"connections":{"Webhook":{"main":[[{"node":"Has Picking?","type":"main","index":0}]]},"Has Picking?":{"main":[[{"node":"Respond","type":"main","index":0},{"node":"Format Completion","type":"main","index":0}],[{"node":"Respond","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"c66a1251-4329-4c10-8fac-5379af09ca0a","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[{"updatedAt":"2026-03-23T13:44:41.282Z","createdAt":"2026-03-23T13:44:41.282Z","id":"CdDBz231hfVoLI5j","name":"picking"}],"shared":[{"updatedAt":"2026-03-24T18:08:26.178Z","createdAt":"2026-03-24T18:08:26.178Z","role":"workflow:owner","workflowId":"daNZ5N_6MZL4YkIvTLkp7","projectId":"iBAWD267Vept8IBP","project":{"updatedAt":"2026-03-23T10:47:09.598Z","createdAt":"2026-03-21T19:38:32.132Z","id":"iBAWD267Vept8IBP","name":"Endrit Murati <endrit.murati99@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"a3d35fcb-0e60-4b54-bc69-fded945cc6eb"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-24T08:57:47.094Z","createdAt":"2026-03-23T18:44:22.087Z","id":"wStDWQlQhjovGaQocdPaR","name":"My workflow","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"name":"Odoo Trigger1","type":"n8n-nodes-base.odooTrigger","typeVersion":1,"position":[-608,448],"id":"547953b4-12ec-44c0-9ffd-e3ba06a4d62b"},{"parameters":{"resource":"custom","operation":"get","options":{}},"name":"Get Full Data1","type":"n8n-nodes-base.odoo","typeVersion":1,"position":[-384,448],"id":"da47cbdb-c21d-4447-bba7-db1ed832a796"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Get Full Data1\"].json[\"x_problem_category\"]}}","value2":"damaged"}]}},"name":"Is Damaged?1","type":"n8n-nodes-base.if","typeVersion":1,"position":[-160,448],"id":"cddef33e-d289-4e00-a691-3dc8e58716c8"},{"parameters":{"fromEmail":"picking-system@deine-firma.de","toEmail":"supervisor@deine-firma.de","subject":"⚠️ Kritischer Qualitätsalarm: {{$node[\"Get Full Data\"].json[\"x_problem_category\"]}}","html":"Ein neuer Defekt wurde gemeldet.<br><b>Picking-ID:</b> {{$node[\"Get Full Data\"].json[\"x_picking_id\"]}}<br><b>Beschreibung:</b> {{$node[\"Get Full Data\"].json[\"description\"]}}","attachments":"x_damage_photo","options":{}},"name":"Send Email to Supervisor1","type":"n8n-nodes-base.emailSend","typeVersion":1,"position":[96,320],"id":"cbdd6fb1-d499-4ea0-bca1-3e886b152e15"},{"parameters":{"url":"http://backend:8000/api/obsidian/log","options":{}},"name":"Log to Obsidian1","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[96,560],"id":"e81143ad-a451-42c0-ba9c-24a04abfb96f"}],"connections":{"Get Full Data1":{"main":[[{"node":"Is Damaged?1","type":"main","index":0}]]},"Is Damaged?1":{"main":[[{"node":"Send Email to Supervisor1","type":"main","index":0},{"node":"Log to Obsidian1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"25082deb-c2fd-4be9-a240-26dc7d0fb9f0","activeVersionId":null,"versionCounter":4,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-23T18:44:22.087Z","createdAt":"2026-03-23T18:44:22.087Z","role":"workflow:owner","workflowId":"wStDWQlQhjovGaQocdPaR","projectId":"iBAWD267Vept8IBP","project":{"updatedAt":"2026-03-23T10:47:09.598Z","createdAt":"2026-03-21T19:38:32.132Z","id":"iBAWD267Vept8IBP","name":"Endrit Murati <endrit.murati99@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"a3d35fcb-0e60-4b54-bc69-fded945cc6eb"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-24T18:08:47.578Z","createdAt":"2026-03-24T18:08:47.578Z","id":"wsz_pXItGAzl9Zzg9l9_2","name":"My workflow 2","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"name":"Odoo Trigger","type":"n8n-nodes-base.odooTrigger","typeVersion":1,"position":[-144,192],"id":"7f459af7-4d9b-46ce-978b-58a69d8a6a4e"},{"parameters":{"resource":"custom","operation":"get","options":{}},"name":"Get Full Data","type":"n8n-nodes-base.odoo","typeVersion":1,"position":[80,192],"id":"6aea2179-412e-455b-bc6c-8e393a07f654"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Get Full Data\"].json[\"x_problem_category\"]}}","value2":"damaged"}]}},"name":"Is Damaged?","type":"n8n-nodes-base.if","typeVersion":1,"position":[304,192],"id":"d76c96ea-c532-4737-8d0a-ef743feeff23"},{"parameters":{"fromEmail":"picking-system@deine-firma.de","toEmail":"supervisor@deine-firma.de","subject":"⚠️ Kritischer Qualitätsalarm: {{$node[\"Get Full Data\"].json[\"x_problem_category\"]}}","html":"Ein neuer Defekt wurde gemeldet.<br><b>Picking-ID:</b> {{$node[\"Get Full Data\"].json[\"x_picking_id\"]}}<br><b>Beschreibung:</b> {{$node[\"Get Full Data\"].json[\"description\"]}}","attachments":"x_damage_photo","options":{}},"name":"Send Email to Supervisor","type":"n8n-nodes-base.emailSend","typeVersion":1,"position":[560,64],"id":"86f8b9fe-4018-46fb-bec8-4719fb977fc0"},{"parameters":{"url":"http://backend:8000/api/obsidian/log","options":{}},"name":"Log to Obsidian","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[560,304],"id":"7b312a9c-cd81-4c25-8119-333273892e3d"}],"connections":{"Get Full Data":{"main":[[{"node":"Is Damaged?","type":"main","index":0}]]},"Is Damaged?":{"main":[[{"node":"Send Email to Supervisor","type":"main","index":0},{"node":"Log to Obsidian","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"38b15b91-1075-43fc-962b-0e59e13f497c","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-24T18:08:47.578Z","createdAt":"2026-03-24T18:08:47.578Z","role":"workflow:owner","workflowId":"wsz_pXItGAzl9Zzg9l9_2","projectId":"iBAWD267Vept8IBP","project":{"updatedAt":"2026-03-23T10:47:09.598Z","createdAt":"2026-03-21T19:38:32.132Z","id":"iBAWD267Vept8IBP","name":"Endrit Murati <endrit.murati99@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"a3d35fcb-0e60-4b54-bc69-fded945cc6eb"}}],"versionMetadata":{"name":null,"description":null}}]