Mobile Picking und Voice Assistant/n8n/backups/20260331-120621-shadow-b/all-workflows.json
[
  {
    "updatedAt": "2026-03-28T18:51:20.212Z",
    "createdAt": "2026-03-23T13:44:30.363Z",
    "id": "BLy10U9JPRgRHnq1wD50z",
    "name": "Pick Confirmed",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "pick-confirmed",
          "responseMode": "responseNode",
          "options": {
            "rawBody": false
          }
        },
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -400,
          112
        ],
        "id": "e84ba48f-6355-4ac2-8a59-eca5a220c549",
        "webhookId": "a1ab9944-c7aa-4e68-bdfa-a378e36f5c10"
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{ !!$json.picking_id }}",
                "value2": true
              }
            ]
          },
          "options": {}
        },
        "name": "Picking komplett?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -208,
          112
        ],
        "id": "8b701185-433d-4d68-98e7-ac53945f4c77"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({ status: 'received' }) }}",
          "options": {}
        },
        "name": "Respond",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "id": "f098fd07-1b6c-439d-a53a-35334d3b3fdd"
      },
      {
        "parameters": {
          "options": {}
        },
        "name": "Log Completion",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3,
        "position": [
          16,
          176
        ],
        "id": "0f7c285d-3231-48a0-afa0-adabfdadf301"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Picking komplett?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Picking komplett?": {
        "main": [
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate",
      "availableInMCP": true,
      "timeSavedMode": "fixed",
      "callerPolicy": "workflowsFromSameOwner"
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "ebc01fe8-0922-42e3-8f01-4b48ea06048a",
    "activeVersionId": "eae22871-20db-4ed6-b301-f8492194b88f",
    "versionCounter": 40,
    "triggerCount": 1,
    "tags": [
      {
        "updatedAt": "2026-03-23T13:44:41.282Z",
        "createdAt": "2026-03-23T13:44:41.282Z",
        "id": "CdDBz231hfVoLI5j",
        "name": "picking"
      },
      {
        "updatedAt": "2026-03-23T13:44:28.786Z",
        "createdAt": "2026-03-23T13:44:28.786Z",
        "id": "NdD2hAo2kj9BGX52",
        "name": "reporting"
      }
    ],
    "shared": [
      {
        "updatedAt": "2026-03-23T13:44:30.363Z",
        "createdAt": "2026-03-23T13:44:30.363Z",
        "role": "workflow:owner",
        "workflowId": "BLy10U9JPRgRHnq1wD50z",
        "projectId": "iBAWD267Vept8IBP",
        "project": {
          "updatedAt": "2026-03-23T10:47:09.598Z",
          "createdAt": "2026-03-21T19:38:32.132Z",
          "id": "iBAWD267Vept8IBP",
          "name": "Endrit Murati <endrit.murati99@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "a3d35fcb-0e60-4b54-bc69-fded945cc6eb"
        }
      }
    ],
    "versionMetadata": {
      "name": null,
      "description": null
    }
  },
  {
    "updatedAt": "2026-03-28T18:51:23.981Z",
    "createdAt": "2026-03-23T13:45:21.497Z",
    "id": "UjLE29R-B163W9p3s6vIO",
    "name": "Daily Picking Report",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 8 * * 1-5"
              }
            ]
          }
        },
        "name": "Schedule (Mo-Fr 08:00)",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ],
        "id": "42174f26-018b-43b5-8911-b7d34e9a630c"
      },
      {
        "parameters": {
          "options": {}
        },
        "name": "Generate Report",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3,
        "position": [
          208,
          0
        ],
        "id": "6d60cdc9-a5f3-4ec8-a5de-8f022700a8ee"
      }
    ],
    "connections": {
      "Schedule (Mo-Fr 08:00)": {
        "main": [
          [
            {
              "node": "Generate Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate",
      "availableInMCP": true
    },
    "staticData": {
      "node:Schedule (Mo-Fr 08:00)": {
        "recurrenceRules": []
      }
    },
    "meta": null,
    "pinData": {},
    "versionId": "a5fe10f0-e7c3-441f-af6e-5dee82d07b30",
    "activeVersionId": "a5fe10f0-e7c3-441f-af6e-5dee82d07b30",
    "versionCounter": 33,
    "triggerCount": 1,
    "tags": [
      {
        "updatedAt": "2026-03-23T13:44:28.786Z",
        "createdAt": "2026-03-23T13:44:28.786Z",
        "id": "NdD2hAo2kj9BGX52",
        "name": "reporting"
      }
    ],
    "shared": [
      {
        "updatedAt": "2026-03-23T13:45:21.497Z",
        "createdAt": "2026-03-23T13:45:21.497Z",
        "role": "workflow:owner",
        "workflowId": "UjLE29R-B163W9p3s6vIO",
        "projectId": "iBAWD267Vept8IBP",
        "project": {
          "updatedAt": "2026-03-23T10:47:09.598Z",
          "createdAt": "2026-03-21T19:38:32.132Z",
          "id": "iBAWD267Vept8IBP",
          "name": "Endrit Murati <endrit.murati99@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "a3d35fcb-0e60-4b54-bc69-fded945cc6eb"
        }
      }
    ],
    "versionMetadata": {
      "name": "Version a5fe10f0",
      "description": ""
    }
  },
  {
    "updatedAt": "2026-03-31T08:29:36.842Z",
    "createdAt": "2026-03-23T13:45:35.858Z",
    "id": "8eWVrUfTAUvOAbpdug8oP",
    "name": "Quality Alert Created",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "quality-alert-created",
          "responseMode": "responseNode",
          "options": {}
        },
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          240,
          280
        ],
        "id": "beefe846-cadf-4e65-862a-6d4f43688972"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({ status: 'accepted', tts_text: 'Quality Alert empfangen.', source: 'n8n', correlation_id: $json.body?.correlation_id || $json.correlation_id }) }}"
        },
        "name": "Respond",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          480,
          120
        ],
        "id": "88f4d089-5f55-4bd1-9098-5bbd12ba33fe"
      },
      {
        "parameters": {
          "functionCode": "const request = items[0]?.json || {};\nconst input = request.body || request;\nconst payload = input.payload || {};\nconst description = String(payload.description || '').trim();\nconst descLower = description.toLowerCase();\nconst priority = String(payload.priority || '0');\nconst photoCount = Number(payload.photo_count || 0);\n\n/* ── V2 Keyword-Katalog mit Gewichten ── */\nconst CATALOG = {\n  scrap: [\n    ['totalschaden',10],['zerstoert',10],['zerbrochen',9],['bruch',8],['gebrochen',8],\n    ['eingedrueckt',7],['explodiert',10],['durchgebrochen',9],['gesplittert',8],['zerquetscht',9]\n  ],\n  quarantine: [\n    ['defekt',6],['gerissen',6],['feucht',5],['nass',5],['beschaedigt',5],\n    ['offen',4],['schimmel',7],['rost',6],['undicht',5],['verformt',5],\n    ['kontaminiert',7],['fremdkoerper',6],['locker',4],['abgeloest',5]\n  ],\n  rework: [\n    ['kratzer',3],['etikett',3],['verpackung',2],['kleber',2],['nacharbeit',3],\n    ['delle',3],['verfaerbt',3],['verschmutzt',2],['falsch etikettiert',4],\n    ['schief',2],['lose',2],['abgerieben',3]\n  ]\n};\nconst NEGATIONS = /\\b(nicht|kein|keine|ohne|kaum|weder)\\b/g;\nconst ACTIONS = {\n  scrap: 'Ware sperren, aussondern und Schichtleitung informieren.',\n  quarantine: 'Ware sperren und manuelle Pruefung anfordern.',\n  rework: 'Nacharbeit pruefen und Verpackung korrigieren.',\n  sellable: 'Sichtpruefung durch Qualitaetsteam.'\n};\n\n/* ── Negation: Negation + naechstes Wort entfernen ── */\nlet cleaned = descLower;\nconst negPat = /\\b(nicht|kein|keine|ohne|kaum|weder)\\s+\\S+/g;\ncleaned = cleaned.replace(negPat, '');\n\n/* ── Score pro Kategorie berechnen ── */\nconst scores = { scrap: 0, quarantine: 0, rework: 0 };\nlet totalMatches = 0;\nlet maxPossible = 0;\nfor (const [cat, keywords] of Object.entries(CATALOG)) {\n  for (const [word, weight] of keywords) {\n    maxPossible += weight;\n    if (cleaned.includes(word)) {\n      scores[cat] += weight;\n      totalMatches++;\n    }\n  }\n}\n\n/* ── Prioritaet als Multiplikator ── */\nif (priority === '1') {\n  scores.quarantine += 4;\n  scores.scrap += 2;\n}\n\n/* ── Fotos erhoehen Schwere ── */\nif (photoCount > 0) scores.quarantine += 3;\nif (photoCount > 2) scores.scrap += 2;\n\n/* ── Disposition bestimmen — Kategorie mit hoechstem Score gewinnt ── */\nconst topScore = Math.max(scores.scrap, scores.quarantine, scores.rework);\nlet aiDisposition = 'sellable';\nif (topScore >= 3) {\n  if (scores.scrap >= scores.quarantine && scores.scrap >= scores.rework) aiDisposition = 'scrap';\n  else if (scores.quarantine >= scores.rework) aiDisposition = 'quarantine';\n  else aiDisposition = 'rework';\n}\n\n/* ── Dynamische Confidence — skaliert am praktischen Ceiling ── */\nconst descLen = description.length;\nconst lenFactor = descLen < 10 ? 0.7 : descLen < 30 ? 0.85 : 1.0;\nconst matchFactor = totalMatches === 0 ? 0.5 : Math.min(1.0, 0.6 + totalMatches * 0.1);\nconst PRACTICAL_CEILING = 25;\nlet aiConfidence;\nif (aiDisposition === 'sellable') {\n  aiConfidence = Math.round(Math.min(0.65, 0.4 + matchFactor * 0.2) * lenFactor * 100) / 100;\n} else {\n  const scoreFactor = Math.min(1.0, topScore / PRACTICAL_CEILING);\n  aiConfidence = Math.round(Math.min(0.95, 0.5 + scoreFactor * 0.45) * lenFactor * matchFactor * 100) / 100;\n}\naiConfidence = Math.max(0.1, Math.min(0.95, aiConfidence));\n\nconst severityLabel = priority === '1' ? 'hoch' : 'normal';\nconst aiSummary = description\n  ? `Automatische V2-Bewertung (${severityLabel}, Score ${topScore}): ${description}`\n  : `Automatische V2-Bewertung fuer Alert ${payload.alert_id || ''}.`;\n\nreturn [{ json: {\n  correlation_id: input.correlation_id,\n  alert_id: payload.alert_id,\n  ai_disposition: aiDisposition,\n  ai_confidence: aiConfidence,\n  ai_summary: aiSummary,\n  ai_recommended_action: ACTIONS[aiDisposition],\n  ai_provider: 'n8n-heuristic-agent',\n  ai_model: 'quality-v2',\n  log_message: `Alert ${payload.name || payload.alert_id}: ${aiDisposition} (${aiConfidence}) | Score s=${scores.scrap} q=${scores.quarantine} r=${scores.rework} | Prio ${priority} | ${description || 'ohne Beschreibung'}`,\n} }];"
        },
        "name": "Assess Alert",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [
          540,
          280
        ],
        "id": "f9eeca83-3d1c-4587-9d3d-3b9b79f808a1"
      },
      {
        "parameters": {
          "requestMethod": "POST",
          "url": "http://backend:8000/api/internal/n8n/quality-assessment",
          "jsonParameters": true,
          "options": {},
          "headerParametersJson": "={{ JSON.stringify({ \"X-N8N-Callback-Secret\": $env.N8N_CALLBACK_SECRET, \"Idempotency-Key\": $json.correlation_id }) }}",
          "bodyParametersJson": "={{ JSON.stringify({ correlation_id: $json.correlation_id, alert_id: $json.alert_id, ai_disposition: $json.ai_disposition, ai_confidence: $json.ai_confidence, ai_summary: $json.ai_summary, ai_recommended_action: $json.ai_recommended_action, ai_provider: $json.ai_provider, ai_model: $json.ai_model }) }}"
        },
        "name": "Write Assessment",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 2,
        "position": [
          850,
          220
        ],
        "id": "cec90947-577e-4b7b-b63b-7e2b57df34d3"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            },
            {
              "node": "Assess Alert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Assess Alert": {
        "main": [
          [
            {
              "node": "Write Assessment",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "errorWorkflow": "error-trigger"
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "1e889ec5-4932-4459-8e67-87d8395304be",
    "activeVersionId": "1e889ec5-4932-4459-8e67-87d8395304be",
    "versionCounter": 50,
    "triggerCount": 1,
    "tags": [
      {
        "updatedAt": "2026-03-26T12:06:08.589Z",
        "createdAt": "2026-03-26T12:06:08.589Z",
        "id": "qQirm3srBa7xsoK2",
        "name": "cqrs"
      },
      {
        "updatedAt": "2026-03-23T13:45:34.296Z",
        "createdAt": "2026-03-23T13:45:34.296Z",
        "id": "vQ8WlKGk0WWSGlXo",
        "name": "quality"
      }
    ],
    "shared": [
      {
        "updatedAt": "2026-03-23T13:45:35.858Z",
        "createdAt": "2026-03-23T13:45:35.858Z",
        "role": "workflow:owner",
        "workflowId": "8eWVrUfTAUvOAbpdug8oP",
        "projectId": "iBAWD267Vept8IBP",
        "project": {
          "updatedAt": "2026-03-23T10:47:09.598Z",
          "createdAt": "2026-03-21T19:38:32.132Z",
          "id": "iBAWD267Vept8IBP",
          "name": "Endrit Murati <endrit.murati99@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "a3d35fcb-0e60-4b54-bc69-fded945cc6eb"
        }
      }
    ],
    "versionMetadata": {
      "name": null,
      "description": null
    }
  },
  {
    "updatedAt": "2026-03-28T18:51:22.627Z",
    "createdAt": "2026-03-23T18:44:22.087Z",
    "id": "wStDWQlQhjovGaQocdPaR",
    "name": "My workflow",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {},
        "name": "Odoo Trigger1",
        "type": "n8n-nodes-base.odooTrigger",
        "typeVersion": 1,
        "position": [
          -608,
          448
        ],
        "id": "547953b4-12ec-44c0-9ffd-e3ba06a4d62b"
      },
      {
        "parameters": {
          "resource": "custom",
          "operation": "get",
          "options": {}
        },
        "name": "Get Full Data1",
        "type": "n8n-nodes-base.odoo",
        "typeVersion": 1,
        "position": [
          -384,
          448
        ],
        "id": "da47cbdb-c21d-4447-bba7-db1ed832a796"
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{$node[\"Get Full Data1\"].json[\"x_problem_category\"]}}",
                "value2": "damaged"
              }
            ]
          }
        },
        "name": "Is Damaged?1",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          -160,
          448
        ],
        "id": "cddef33e-d289-4e00-a691-3dc8e58716c8"
      },
      {
        "parameters": {
          "fromEmail": "picking-system@deine-firma.de",
          "toEmail": "supervisor@deine-firma.de",
          "subject": "⚠️ Kritischer Qualitätsalarm: {{$node[\"Get Full Data\"].json[\"x_problem_category\"]}}",
          "html": "Ein neuer Defekt wurde gemeldet.<br><b>Picking-ID:</b> {{$node[\"Get Full Data\"].json[\"x_picking_id\"]}}<br><b>Beschreibung:</b> {{$node[\"Get Full Data\"].json[\"description\"]}}",
          "attachments": "x_damage_photo",
          "options": {}
        },
        "name": "Send Email to Supervisor1",
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 1,
        "position": [
          96,
          320
        ],
        "id": "cbdd6fb1-d499-4ea0-bca1-3e886b152e15"
      },
      {
        "parameters": {
          "url": "http://backend:8000/api/obsidian/log",
          "options": {}
        },
        "name": "Log to Obsidian1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          96,
          560
        ],
        "id": "e81143ad-a451-42c0-ba9c-24a04abfb96f"
      }
    ],
    "connections": {
      "Get Full Data1": {
        "main": [
          [
            {
              "node": "Is Damaged?1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Damaged?1": {
        "main": [
          [
            {
              "node": "Send Email to Supervisor1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Log to Obsidian1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "25082deb-c2fd-4be9-a240-26dc7d0fb9f0",
    "activeVersionId": null,
    "versionCounter": 5,
    "triggerCount": 0,
    "tags": [],
    "shared": [
      {
        "updatedAt": "2026-03-23T18:44:22.087Z",
        "createdAt": "2026-03-23T18:44:22.087Z",
        "role": "workflow:owner",
        "workflowId": "wStDWQlQhjovGaQocdPaR",
        "projectId": "iBAWD267Vept8IBP",
        "project": {
          "updatedAt": "2026-03-23T10:47:09.598Z",
          "createdAt": "2026-03-21T19:38:32.132Z",
          "id": "iBAWD267Vept8IBP",
          "name": "Endrit Murati <endrit.murati99@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "a3d35fcb-0e60-4b54-bc69-fded945cc6eb"
        }
      }
    ],
    "versionMetadata": {
      "name": null,
      "description": null
    }
  },
  {
    "updatedAt": "2026-03-28T18:51:08.845Z",
    "createdAt": "2026-03-24T18:07:32.810Z",
    "id": "B3vBzqOM2J7pkahwUGtsn",
    "name": "Voice Exception Query",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "voice-exception-query",
          "responseMode": "responseNode",
          "options": {}
        },
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          220,
          280
        ],
        "id": "aa6830c3-baa3-4586-9b49-03c698e7c951"
      },
      {
        "parameters": {
          "functionCode": "const request = items[0]?.json || {};\nconst input = request.body || request;\nconst payload = input.payload || {};\nconst kitName = String(payload.kit_name || '').trim();\nconst lineName = String(payload.line_display_name || 'dem aktuellen Artikel').trim();\nconst question = String(payload.text || '').trim();\nconst intent = String(payload.intent || 'unknown');\nconst stockSummary = String(payload.stock_summary_text || '').trim();\nconst obsidianContext = String(payload.obsidian_context_text || '').trim();\nconst voiceIntro = String(payload.voice_intro || '').trim();\nconst currentLocation = String(payload.current_location_label || '').trim();\nconst recommendation = payload.default_recommendation || null;\nconst defaultRecommendationText = String(payload.default_recommendation_text || '').trim();\nconst pickingContext = input.picking_context || {};\nlet ttsText = '';\nif (intent === 'stock_query' && stockSummary) {\n  ttsText = stockSummary;\n} else if (intent === 'problem' && recommendation) {\n  const sourceName = (typeof recommendation === 'object' && recommendation.recommended_location) ? recommendation.recommended_location : 'einem Alternativplatz';\n  ttsText = `Am aktuellen Platz ${currentLocation || 'des Artikels'} ist kein verfuegbarer Bestand mehr vorhanden. Ich habe einen Nachschub aus ${sourceName} vorbereitet.`;\n} else if (obsidianContext) {\n  ttsText = `Du baust ${kitName || 'gerade einen Auftrag'}. ${obsidianContext}`;\n} else if (voiceIntro) {\n  ttsText = voiceIntro;\n} else if (kitName) {\n  ttsText = `Du baust ${kitName}. Aktuell geht es um ${lineName}.`;\n} else {\n  ttsText = `Aktuell geht es um ${lineName}. Frage: ${question || 'keine Frage uebermittelt'}.`;\n}\nconst altLocationIds = Array.isArray(pickingContext.alternative_location_ids) ? pickingContext.alternative_location_ids : [];\nreturn [{ json: {\n  status: 'ok',\n  tts_text: ttsText,\n  action: 'none',\n  referenced_product_id: null,\n  referenced_location_id: null,\n  confidence: 0.8,\n  source: 'n8n-context-agent',\n  correlation_id: input.correlation_id,\n  recommendation,\n  default_recommendation_text: defaultRecommendationText,\n  picking_context: pickingContext,\n  alt_location_ids: altLocationIds,\n} }];"
        },
        "name": "AI Synthesize",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [
          470,
          280
        ],
        "id": "1e32b4fa-b2f9-46e2-9ea6-48b6a43ede85"
      },
      {
        "parameters": {
          "functionCode": "const input = items[0]?.json || {};\nconst VALID_ACTIONS = ['none', 'ask_supervisor', 'check_alt_location', 'suggest_replenishment'];\nconst pickingContext = input.picking_context || {};\nconst altLocationIds = input.alt_location_ids || [];\nlet ttsText = input.tts_text;\nlet action = input.action;\nlet referencedProductId = input.referenced_product_id;\nlet referencedLocationId = input.referenced_location_id;\nlet confidence = input.confidence;\nconst fallbackTts = input.default_recommendation_text || ttsText || 'Bitte wende dich an den Schichtleiter.';\nlet validationFailed = false;\nif (!ttsText || typeof ttsText !== 'string' || ttsText.trim() === '') {\n  validationFailed = true;\n}\nif (!VALID_ACTIONS.includes(action)) {\n  validationFailed = true;\n}\nif (referencedProductId !== null && referencedProductId !== pickingContext.product_id) {\n  validationFailed = true;\n}\nif (referencedLocationId !== null) {\n  const isMainLocation = referencedLocationId === pickingContext.location_id;\n  const isAltLocation = altLocationIds.includes(referencedLocationId);\n  if (!isMainLocation && !isAltLocation) {\n    validationFailed = true;\n  }\n}\nif (typeof confidence !== 'number' || confidence < 0.5) {\n  validationFailed = true;\n}\nif (validationFailed) {\n  ttsText = fallbackTts;\n  action = 'none';\n  referencedProductId = null;\n  referencedLocationId = null;\n  confidence = 0.5;\n}\nreturn [{ json: {\n  status: input.status || 'ok',\n  tts_text: ttsText,\n  action,\n  referenced_product_id: referencedProductId,\n  referenced_location_id: referencedLocationId,\n  confidence,\n  source: input.source,\n  correlation_id: input.correlation_id,\n  recommendation: input.recommendation || null,\n} }];"
        },
        "name": "Validate Response",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [
          720,
          280
        ],
        "id": "b349c2b4-1f5e-464f-8069-54ecf4a8c31d"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({ status: $json.status, tts_text: $json.tts_text, action: $json.action, referenced_product_id: $json.referenced_product_id, referenced_location_id: $json.referenced_location_id, confidence: $json.confidence, source: $json.source, correlation_id: $json.correlation_id, recommendation: $json.recommendation || null }) }}"
        },
        "name": "Respond",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          970,
          280
        ],
        "id": "9c3733a0-f99f-44fc-b1cb-d20e169a4627"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "AI Synthesize",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Synthesize": {
        "main": [
          [
            {
              "node": "Validate Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Response": {
        "main": [
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "errorWorkflow": "99fa93a638824b84b8578e4c8942c419"
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "8562e72c-6eb3-449d-82f8-0b750e6c7b38",
    "activeVersionId": "8562e72c-6eb3-449d-82f8-0b750e6c7b38",
    "versionCounter": 34,
    "triggerCount": 1,
    "tags": [
      {
        "updatedAt": "2026-03-26T12:06:08.589Z",
        "createdAt": "2026-03-26T12:06:08.589Z",
        "id": "qQirm3srBa7xsoK2",
        "name": "cqrs"
      },
      {
        "updatedAt": "2026-03-24T18:07:31.270Z",
        "createdAt": "2026-03-24T18:07:31.270Z",
        "id": "j2mcEj3loBauFkca",
        "name": "voice"
      }
    ],
    "shared": [
      {
        "updatedAt": "2026-03-24T18:07:32.810Z",
        "createdAt": "2026-03-24T18:07:32.810Z",
        "role": "workflow:owner",
        "workflowId": "B3vBzqOM2J7pkahwUGtsn",
        "projectId": "iBAWD267Vept8IBP",
        "project": {
          "updatedAt": "2026-03-23T10:47:09.598Z",
          "createdAt": "2026-03-21T19:38:32.132Z",
          "id": "iBAWD267Vept8IBP",
          "name": "Endrit Murati <endrit.murati99@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "a3d35fcb-0e60-4b54-bc69-fded945cc6eb"
        }
      }
    ],
    "versionMetadata": {
      "name": null,
      "description": null
    }
  },
  {
    "updatedAt": "2026-03-28T18:51:19.149Z",
    "createdAt": "2026-03-24T18:08:11.686Z",
    "id": "gbORshGxWbOEtkpdV2hl4",
    "name": "Quality Alert Created Legacy Draft",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "quality-alert-created",
          "responseMode": "responseNode",
          "options": {}
        },
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          320,
          224
        ],
        "id": "2fd80c0e-669c-4ec5-b01f-0b9e396c62b2",
        "webhookId": "774590eb-8046-4724-845d-1a5d1feb94cf"
      },
      {
        "parameters": {
          "options": {}
        },
        "name": "Draft Assessment",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3,
        "position": [
          640,
          224
        ],
        "id": "a9d7e801-0979-40ac-a949-56ec1f1f19ba"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({ status: 'received', tts_text: 'Quality Alert empfangen.', source: 'n8n', correlation_id: $json.correlation_id }) }}",
          "options": {}
        },
        "name": "Respond",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          560,
          64
        ],
        "id": "aef67591-18c7-4ba5-838a-61cfb79c00be"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            },
            {
              "node": "Draft Assessment",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "357e6251-cf57-4992-971c-509f544003eb",
    "activeVersionId": null,
    "versionCounter": 4,
    "triggerCount": 0,
    "tags": [
      {
        "updatedAt": "2026-03-23T13:45:34.296Z",
        "createdAt": "2026-03-23T13:45:34.296Z",
        "id": "vQ8WlKGk0WWSGlXo",
        "name": "quality"
      }
    ],
    "shared": [
      {
        "updatedAt": "2026-03-24T18:08:11.686Z",
        "createdAt": "2026-03-24T18:08:11.686Z",
        "role": "workflow:owner",
        "workflowId": "gbORshGxWbOEtkpdV2hl4",
        "projectId": "iBAWD267Vept8IBP",
        "project": {
          "updatedAt": "2026-03-23T10:47:09.598Z",
          "createdAt": "2026-03-21T19:38:32.132Z",
          "id": "iBAWD267Vept8IBP",
          "name": "Endrit Murati <endrit.murati99@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "a3d35fcb-0e60-4b54-bc69-fded945cc6eb"
        }
      }
    ],
    "versionMetadata": {
      "name": null,
      "description": null
    }
  },
  {
    "updatedAt": "2026-03-28T18:51:16.898Z",
    "createdAt": "2026-03-24T18:08:26.178Z",
    "id": "daNZ5N_6MZL4YkIvTLkp7",
    "name": "Pick Confirmed",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "pick-confirmed",
          "responseMode": "responseNode",
          "options": {}
        },
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          128,
          160
        ],
        "id": "12d86ed4-9b2d-459b-8fae-9038891dcf42",
        "webhookId": "a1fa59d6-28f9-47f4-806b-8848fde9a2b4"
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{ !!$json.payload.picking_id }}",
                "value2": true
              }
            ]
          },
          "options": {}
        },
        "name": "Has Picking?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          352,
          160
        ],
        "id": "df8156fd-f83a-4f7e-bde3-361521ee49fb"
      },
      {
        "parameters": {
          "options": {}
        },
        "name": "Format Completion",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3,
        "position": [
          576,
          256
        ],
        "id": "dd5724c1-302a-4f40-b815-1e1a25426438"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({ status: 'received', tts_text: 'Completion Event empfangen.', source: 'n8n', correlation_id: $json.correlation_id }) }}",
          "options": {}
        },
        "name": "Respond",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          576,
          64
        ],
        "id": "3c667726-0e32-4267-9ed0-b8b1c8401a64"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Has Picking?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Picking?": {
        "main": [
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            },
            {
              "node": "Format Completion",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "3306dd7b-22cf-4894-ad92-d01218edb3da",
    "activeVersionId": null,
    "versionCounter": 3,
    "triggerCount": 0,
    "tags": [
      {
        "updatedAt": "2026-03-23T13:44:41.282Z",
        "createdAt": "2026-03-23T13:44:41.282Z",
        "id": "CdDBz231hfVoLI5j",
        "name": "picking"
      }
    ],
    "shared": [
      {
        "updatedAt": "2026-03-24T18:08:26.178Z",
        "createdAt": "2026-03-24T18:08:26.178Z",
        "role": "workflow:owner",
        "workflowId": "daNZ5N_6MZL4YkIvTLkp7",
        "projectId": "iBAWD267Vept8IBP",
        "project": {
          "updatedAt": "2026-03-23T10:47:09.598Z",
          "createdAt": "2026-03-21T19:38:32.132Z",
          "id": "iBAWD267Vept8IBP",
          "name": "Endrit Murati <endrit.murati99@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "a3d35fcb-0e60-4b54-bc69-fded945cc6eb"
        }
      }
    ],
    "versionMetadata": {
      "name": null,
      "description": null
    }
  },
  {
    "updatedAt": "2026-03-26T12:14:44.181Z",
    "createdAt": "2026-03-24T18:08:47.578Z",
    "id": "wsz_pXItGAzl9Zzg9l9_2",
    "name": "My workflow 2",
    "description": null,
    "active": false,
    "isArchived": true,
    "nodes": [
      {
        "parameters": {},
        "name": "Odoo Trigger",
        "type": "n8n-nodes-base.odooTrigger",
        "typeVersion": 1,
        "position": [
          -144,
          192
        ],
        "id": "7f459af7-4d9b-46ce-978b-58a69d8a6a4e"
      },
      {
        "parameters": {
          "resource": "custom",
          "operation": "get",
          "options": {}
        },
        "name": "Get Full Data",
        "type": "n8n-nodes-base.odoo",
        "typeVersion": 1,
        "position": [
          80,
          192
        ],
        "id": "6aea2179-412e-455b-bc6c-8e393a07f654"
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{$node[\"Get Full Data\"].json[\"x_problem_category\"]}}",
                "value2": "damaged"
              }
            ]
          }
        },
        "name": "Is Damaged?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          304,
          192
        ],
        "id": "d76c96ea-c532-4737-8d0a-ef743feeff23"
      },
      {
        "parameters": {
          "fromEmail": "picking-system@deine-firma.de",
          "toEmail": "supervisor@deine-firma.de",
          "subject": "⚠️ Kritischer Qualitätsalarm: {{$node[\"Get Full Data\"].json[\"x_problem_category\"]}}",
          "html": "Ein neuer Defekt wurde gemeldet.<br><b>Picking-ID:</b> {{$node[\"Get Full Data\"].json[\"x_picking_id\"]}}<br><b>Beschreibung:</b> {{$node[\"Get Full Data\"].json[\"description\"]}}",
          "attachments": "x_damage_photo",
          "options": {}
        },
        "name": "Send Email to Supervisor",
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 1,
        "position": [
          560,
          64
        ],
        "id": "86f8b9fe-4018-46fb-bec8-4719fb977fc0"
      },
      {
        "parameters": {
          "url": "http://backend:8000/api/obsidian/log",
          "options": {}
        },
        "name": "Log to Obsidian",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          560,
          304
        ],
        "id": "7b312a9c-cd81-4c25-8119-333273892e3d"
      }
    ],
    "connections": {
      "Get Full Data": {
        "main": [
          [
            {
              "node": "Is Damaged?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Damaged?": {
        "main": [
          [
            {
              "node": "Send Email to Supervisor",
              "type": "main",
              "index": 0
            },
            {
              "node": "Log to Obsidian",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "1d966700-1bf1-476c-84fd-3197afa52ed5",
    "activeVersionId": null,
    "versionCounter": 2,
    "triggerCount": 0,
    "tags": [],
    "shared": [
      {
        "updatedAt": "2026-03-24T18:08:47.578Z",
        "createdAt": "2026-03-24T18:08:47.578Z",
        "role": "workflow:owner",
        "workflowId": "wsz_pXItGAzl9Zzg9l9_2",
        "projectId": "iBAWD267Vept8IBP",
        "project": {
          "updatedAt": "2026-03-23T10:47:09.598Z",
          "createdAt": "2026-03-21T19:38:32.132Z",
          "id": "iBAWD267Vept8IBP",
          "name": "Endrit Murati <endrit.murati99@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "a3d35fcb-0e60-4b54-bc69-fded945cc6eb"
        }
      }
    ],
    "versionMetadata": {
      "name": null,
      "description": null
    }
  },
  {
    "updatedAt": "2026-03-28T18:51:17.984Z",
    "createdAt": "2026-03-26T12:06:03.902Z",
    "id": "99fa93a638824b84b8578e4c8942c419",
    "name": "Error Trigger",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {},
        "name": "Error Trigger",
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          240,
          280
        ],
        "id": "dcc332c3-8981-450d-94d5-367ea6b257b1"
      },
      {
        "parameters": {
          "functionCode": "const input = items[0]?.json || {};\nconst exec = input.execution || {};\nconst wf = input.workflow || {};\nconst err = exec.error || {};\nconst workflow_name = String(wf.name || 'unknown-workflow');\nconst workflow_key = workflow_name.toLowerCase();\nconst failing_node = String(err.node || 'unknown');\nconst error_message = String(err.message || 'Unknown error');\nconst execution_url = String(exec.url || '');\n\nconst normalizeNumericId = (value) => {\n  if (value === undefined || value === null || value === '') {\n    return null;\n  }\n  const numeric = Number(value);\n  return Number.isFinite(numeric) ? numeric : null;\n};\n\nconst collectItemJsons = () => {\n  const collected = [];\n  try {\n    const data = exec.data || {};\n    const resultData = data.resultData || {};\n    const runData = resultData.runData || {};\n    for (const nodeRuns of Object.values(runData)) {\n      if (!Array.isArray(nodeRuns)) {\n        continue;\n      }\n      for (const run of nodeRuns) {\n        const branches = run && run.data && run.data.main;\n        if (!Array.isArray(branches)) {\n          continue;\n        }\n        for (const branch of branches) {\n          if (!Array.isArray(branch)) {\n            continue;\n          }\n          for (const item of branch) {\n            if (item && item.json && typeof item.json === 'object') {\n              collected.push(item.json);\n            }\n          }\n        }\n      }\n    }\n  } catch (e) {\n    return collected;\n  }\n  return collected;\n};\n\nlet correlation_id = '';\nlet alert_id = null;\nlet picking_id = null;\n\nfor (const itemJson of collectItemJsons()) {\n  if (!correlation_id && itemJson.correlation_id) {\n    correlation_id = String(itemJson.correlation_id);\n  }\n  const payload = itemJson.payload || {};\n  const pickingContext = itemJson.picking_context || {};\n\n  if (alert_id === null) {\n    alert_id = normalizeNumericId(itemJson.alert_id ?? payload.alert_id);\n  }\n  if (picking_id === null) {\n    picking_id = normalizeNumericId(itemJson.picking_id ?? pickingContext.picking_id ?? payload.picking_id);\n  }\n\n  if (correlation_id && alert_id !== null && picking_id !== null) {\n    break;\n  }\n}\n\nlet route = 'log_only';\nif (workflow_key.includes('quality') && alert_id !== null) {\n  route = 'quality';\n} else if (workflow_key.includes('shortage') && picking_id !== null) {\n  route = 'shortage';\n}\n\nreturn [{ json: {\n  workflow_name,\n  failing_node,\n  error_message,\n  correlation_id,\n  execution_url,\n  alert_id,\n  picking_id,\n  route,\n} }];"
        },
        "name": "Extract Context",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [
          480,
          280
        ],
        "id": "6b076b8f-c9c3-476d-93b1-dea9c0656eb6"
      },
      {
        "parameters": {
          "dataType": "string",
          "value1": "={{ $json.route }}",
          "rules": {
            "rules": [
              {
                "operation": "equal",
                "value2": "shortage",
                "output": 0
              },
              {
                "operation": "equal",
                "value2": "quality",
                "output": 1
              }
            ]
          },
          "fallbackOutput": 2
        },
        "name": "Branch by Workflow",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 1,
        "position": [
          720,
          280
        ],
        "id": "2f5ea8ae-082f-41e4-a1c3-c16d280c470a"
      },
      {
        "parameters": {
          "requestMethod": "POST",
          "url": "http://backend:8000/api/internal/n8n/manual-review-activity",
          "jsonParameters": true,
          "options": {},
          "headerParametersJson": "={{ JSON.stringify({ \"X-N8N-Callback-Secret\": $env.N8N_CALLBACK_SECRET }) }}",
          "bodyParametersJson": "={{ JSON.stringify({ picking_id: $json.picking_id, correlation_id: $json.correlation_id, reason: $json.error_message, execution_url: $json.execution_url }) }}"
        },
        "name": "Notify Shortage Failure",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 2,
        "onError": "continueRegularOutput",
        "position": [
          960,
          140
        ],
        "id": "9e5aedaa-aed1-4154-b36f-afe8ffc1a9b2"
      },
      {
        "parameters": {
          "requestMethod": "POST",
          "url": "http://backend:8000/api/internal/n8n/quality-assessment-failed",
          "jsonParameters": true,
          "options": {},
          "headerParametersJson": "={{ JSON.stringify({ \"X-N8N-Callback-Secret\": $env.N8N_CALLBACK_SECRET }) }}",
          "bodyParametersJson": "={{ JSON.stringify({ alert_id: $json.alert_id, correlation_id: $json.correlation_id, failure_reason: $json.error_message }) }}"
        },
        "name": "Notify Quality Failure",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 2,
        "onError": "continueRegularOutput",
        "position": [
          960,
          280
        ],
        "id": "80e0ba44-f338-420b-9772-7b4e78401c2b"
      },
      {
        "parameters": {
          "requestMethod": "POST",
          "url": "http://backend:8000/api/obsidian/log",
          "jsonParameters": true,
          "options": {},
          "headerParametersJson": "={{ JSON.stringify({ \"X-N8N-Callback-Secret\": $env.N8N_CALLBACK_SECRET }) }}",
          "bodyParametersJson": "={{ JSON.stringify({ message: 'INCIDENT: ' + $json.workflow_name + ' ' + $json.error_message + ' (correlation: ' + $json.correlation_id + ')', category: 'INCIDENT' }) }}"
        },
        "name": "Log to Obsidian",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 2,
        "onError": "continueRegularOutput",
        "position": [
          1200,
          280
        ],
        "id": "c32e9db2-fdaa-470c-b85b-42d4726301e3"
      },
      {
        "parameters": {
          "fromEmail": "={{ $env.QUALITY_ALERT_EMAIL_FROM || 'picking-assistant@example.invalid' }}",
          "toEmail": "={{ $env.QUALITY_ALERT_EMAIL_TO || '' }}",
          "subject": "=[INCIDENT] {{ $json.workflow_name }} failed",
          "html": "=<p><strong>Workflow:</strong> {{ $json.workflow_name }}</p><p><strong>Failing Node:</strong> {{ $json.failing_node }}</p><p><strong>Error:</strong> {{ $json.error_message }}</p><p><strong>Correlation ID:</strong> {{ $json.correlation_id }}</p><p><strong>Execution URL:</strong> {{ $json.execution_url }}</p>",
          "options": {}
        },
        "name": "Send Email",
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 1,
        "onError": "continueRegularOutput",
        "position": [
          1440,
          280
        ],
        "id": "2bb26c5b-555e-4360-b490-65f2dca38421"
      }
    ],
    "connections": {
      "Error Trigger": {
        "main": [
          [
            {
              "node": "Extract Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Context": {
        "main": [
          [
            {
              "node": "Branch by Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Branch by Workflow": {
        "main": [
          [
            {
              "node": "Notify Shortage Failure",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Notify Quality Failure",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Log to Obsidian",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Notify Shortage Failure": {
        "main": [
          [
            {
              "node": "Log to Obsidian",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Notify Quality Failure": {
        "main": [
          [
            {
              "node": "Log to Obsidian",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log to Obsidian": {
        "main": [
          [
            {
              "node": "Send Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": null,
    "pinData": null,
    "versionId": "1a41d3b4-21fe-48a3-81f1-835bafdce057",
    "activeVersionId": "1a41d3b4-21fe-48a3-81f1-835bafdce057",
    "versionCounter": 34,
    "triggerCount": 0,
    "tags": [
      {
        "updatedAt": "2026-03-26T12:06:03.902Z",
        "createdAt": "2026-03-26T12:06:03.902Z",
        "id": "isiJ4PnQNry2RLHc",
        "name": "error-handling"
      }
    ],
    "shared": [
      {
        "updatedAt": "2026-03-26T12:06:03.902Z",
        "createdAt": "2026-03-26T12:06:03.902Z",
        "role": "workflow:owner",
        "workflowId": "99fa93a638824b84b8578e4c8942c419",
        "projectId": "iBAWD267Vept8IBP",
        "project": {
          "updatedAt": "2026-03-23T10:47:09.598Z",
          "createdAt": "2026-03-21T19:38:32.132Z",
          "id": "iBAWD267Vept8IBP",
          "name": "Endrit Murati <endrit.murati99@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "a3d35fcb-0e60-4b54-bc69-fded945cc6eb"
        }
      }
    ],
    "versionMetadata": {
      "name": null,
      "description": null
    }
  },
  {
    "updatedAt": "2026-03-28T18:51:05.892Z",
    "createdAt": "2026-03-26T12:06:13.066Z",
    "id": "3c5c3910481e4c27aabd5a3599849317",
    "name": "Shortage Reported",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "shortage-reported",
          "responseMode": "responseNode",
          "options": {}
        },
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          220,
          280
        ],
        "id": "265ec71f-1b4d-4d31-a222-7bb28873fd27"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({ status: 'accepted', tts_text: 'Nachschub wird vorbereitet.', source: 'n8n', correlation_id: $json.body?.correlation_id || $json.correlation_id }) }}"
        },
        "name": "Respond",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          470,
          120
        ],
        "id": "840e75ed-c6b7-4407-9de1-b06bd3801038"
      },
      {
        "parameters": {
          "functionCode": "const request = items[0]?.json || {};\nconst input = request.body || request;\nconst payload = input.payload || {};\nconst recommendation = payload.recommendation || null;\nconst pickingContext = input.picking_context || {};\nconst picker = input.picker || {};\nif (!recommendation || !recommendation.recommended_location_id || !pickingContext.location_id) {\n  return [];\n}\nconst ticketText = [\n  'Automatisch erzeugter Nachschubauftrag aus dem Voice-Exception-Pfad.',\n  payload.text ? `Meldung: ${payload.text}` : '',\n  recommendation.reason ? `Grund: ${recommendation.reason}` : '',\n].filter(Boolean).join(' ');\nreturn [{ json: {\n  correlation_id: input.correlation_id,\n  picking_id: pickingContext.picking_id,\n  product_id: pickingContext.product_id,\n  location_id: pickingContext.location_id,\n  recommended_location_id: recommendation.recommended_location_id,\n  recommended_location: recommendation.recommended_location || '',\n  quantity: recommendation.quantity || 1,\n  reason: recommendation.reason || 'Automatische Nachschubanforderung nach Fehlmengen-Hinweis.',\n  ticket_text: ticketText,\n  requested_by_user_id: payload.requested_by_user_id || picker.user_id || null,\n  requested_by_name: picker.name || '',\n  log_message: `Nachschub fuer Picking ${pickingContext.picking_id} von ${recommendation.recommended_location || 'Alternativplatz'} nach Zielplatz ${pickingContext.location_id} angestossen.`,\n} }];"
        },
        "name": "Prepare Replenishment",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [
          540,
          320
        ],
        "id": "931f9b9d-0b83-4529-8b03-a2dcf5a08c47"
      },
      {
        "parameters": {
          "requestMethod": "POST",
          "url": "http://backend:8000/api/internal/n8n/replenishment-action",
          "jsonParameters": true,
          "options": {},
          "headerParametersJson": "={{ JSON.stringify({ \"X-N8N-Callback-Secret\": $env.N8N_CALLBACK_SECRET, \"Idempotency-Key\": $json.correlation_id }) }}",
          "bodyParametersJson": "={{ JSON.stringify({ correlation_id: $json.correlation_id, picking_id: $json.picking_id, product_id: $json.product_id, location_id: $json.location_id, recommended_location_id: $json.recommended_location_id, recommended_location: $json.recommended_location, quantity: $json.quantity, reason: $json.reason, ticket_text: $json.ticket_text, requested_by_user_id: $json.requested_by_user_id, requested_by_name: $json.requested_by_name }) }}"
        },
        "name": "Create Replenishment",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 2,
        "position": [
          860,
          260
        ],
        "id": "7a3b5ce2-bd23-4435-8b44-35b74cf61f4e"
      },
      {
        "parameters": {
          "requestMethod": "POST",
          "url": "http://backend:8000/api/obsidian/log",
          "jsonParameters": true,
          "options": {},
          "headerParametersJson": "={{ JSON.stringify({ \"X-N8N-Callback-Secret\": $env.N8N_CALLBACK_SECRET }) }}",
          "bodyParametersJson": "={{ JSON.stringify({ category: 'REPLENISHMENT', message: $json.log_message }) }}"
        },
        "name": "Log To Obsidian",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 2,
        "position": [
          1110,
          260
        ],
        "id": "9441bebd-73c5-46f0-9d31-668eff33a109"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            },
            {
              "node": "Prepare Replenishment",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Replenishment": {
        "main": [
          [
            {
              "node": "Create Replenishment",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Replenishment": {
        "main": [
          [
            {
              "node": "Log To Obsidian",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "errorWorkflow": "99fa93a638824b84b8578e4c8942c419"
    },
    "staticData": null,
    "meta": null,
    "pinData": null,
    "versionId": "33636e52-4e7a-4b79-85e3-bd17cfb0e36a",
    "activeVersionId": "33636e52-4e7a-4b79-85e3-bd17cfb0e36a",
    "versionCounter": 33,
    "triggerCount": 1,
    "tags": [
      {
        "updatedAt": "2026-03-26T12:06:13.066Z",
        "createdAt": "2026-03-26T12:06:13.066Z",
        "id": "BH31zY0VknBCTpVz",
        "name": "replenishment"
      },
      {
        "updatedAt": "2026-03-26T12:06:08.589Z",
        "createdAt": "2026-03-26T12:06:08.589Z",
        "id": "qQirm3srBa7xsoK2",
        "name": "cqrs"
      }
    ],
    "shared": [
      {
        "updatedAt": "2026-03-26T12:06:13.066Z",
        "createdAt": "2026-03-26T12:06:13.066Z",
        "role": "workflow:owner",
        "workflowId": "3c5c3910481e4c27aabd5a3599849317",
        "projectId": "iBAWD267Vept8IBP",
        "project": {
          "updatedAt": "2026-03-23T10:47:09.598Z",
          "createdAt": "2026-03-21T19:38:32.132Z",
          "id": "iBAWD267Vept8IBP",
          "name": "Endrit Murati <endrit.murati99@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "a3d35fcb-0e60-4b54-bc69-fded945cc6eb"
        }
      }
    ],
    "versionMetadata": {
      "name": null,
      "description": null
    }
  },
  {
    "updatedAt": "2026-03-28T18:51:07.547Z",
    "createdAt": "2026-03-28T18:49:46.222Z",
    "id": "smtpMailpitIsolatedTest20260328",
    "name": "SMTP Mailpit Isolated Test",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {},
        "name": "Manual Trigger",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          260,
          300
        ],
        "id": "91cafbfa-fc04-4cf1-911a-f652e3849191"
      },
      {
        "parameters": {
          "fromEmail": "bachelor-picking@test.local",
          "toEmail": "qa-alerts@test.local",
          "subject": "Mailpit SMTP Test",
          "emailFormat": "text",
          "text": "Das ist ein isolierter SMTP-Test aus n8n.",
          "options": {
            "appendAttribution": false
          }
        },
        "name": "Send Email",
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          560,
          300
        ],
        "credentials": {
          "smtp": {
            "id": "smtpMailpit20260328",
            "name": "SMTP Mailpit"
          }
        },
        "id": "708dd52d-1f71-47e9-85ff-681f31745417"
      }
    ],
    "connections": {
      "Manual Trigger": {
        "main": [
          [
            {
              "node": "Send Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": null,
    "pinData": null,
    "versionId": "67e98c51-83f5-43f6-9e48-5e7dd7b15b8b",
    "activeVersionId": null,
    "versionCounter": 2,
    "triggerCount": 0,
    "tags": [],
    "shared": [
      {
        "updatedAt": "2026-03-28T18:49:46.222Z",
        "createdAt": "2026-03-28T18:49:46.222Z",
        "role": "workflow:owner",
        "workflowId": "smtpMailpitIsolatedTest20260328",
        "projectId": "iBAWD267Vept8IBP",
        "project": {
          "updatedAt": "2026-03-23T10:47:09.598Z",
          "createdAt": "2026-03-21T19:38:32.132Z",
          "id": "iBAWD267Vept8IBP",
          "name": "Endrit Murati <endrit.murati99@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "a3d35fcb-0e60-4b54-bc69-fded945cc6eb"
        }
      }
    ],
    "versionMetadata": {
      "name": null,
      "description": null
    }
  },
  {
    "updatedAt": "2026-03-28T18:51:48.615Z",
    "createdAt": "2026-03-28T18:51:48.615Z",
    "id": "EqbptnAergDmhJK2",
    "name": "P1-daily-briefing-v1",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 7
              }
            ]
          }
        },
        "id": "145266e4-1571-417e-afd4-7fa263eb2f26",
        "name": "Daily 07:00",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -224,
          112
        ]
      },
      {
        "parameters": {
          "operation": "getAll",
          "additionalFields": {}
        },
        "id": "90000ea5-dc73-4d8f-9c82-6ad36c2df33c",
        "name": "Get Tasks",
        "type": "n8n-nodes-base.googleTasks",
        "typeVersion": 1,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {},
        "id": "47a7f16b-4751-478d-9b95-ad87b2ad5645",
        "name": "Get Calendar Events",
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 3,
        "position": [
          0,
          224
        ],
        "credentials": {}
      },
      {
        "parameters": {
          "jsCode": "// Daily Briefing formatieren\nconst tasks = $('Get Tasks').all();\nconst events = $('Get Calendar Events').all();\nconst today = new Date().toISOString().split('T')[0];\n\n// Tasks filtern: heute faellig oder ueberfaellig\nconst todayTasks = [];\nconst overdueTasks = [];\nconst upcomingTasks = [];\n\nfor (const t of tasks) {\n  const task = t.json;\n  const title = task.title || 'Ohne Titel';\n  const due = task.due ? task.due.split('T')[0] : null;\n  const notes = task.notes || '';\n  \n  // Prio aus Notes extrahieren\n  const prioMatch = notes.match(/Prio:\\s*(\\w+)/);\n  const prio = prioMatch ? prioMatch[1] : '-';\n  \n  if (due === today) {\n    todayTasks.push(`• ${title} [${prio}]`);\n  } else if (due && due < today) {\n    overdueTasks.push(`• ${title} (faellig: ${due}) [${prio}]`);\n  } else {\n    upcomingTasks.push({ title, due, prio });\n  }\n}\n\n// Events formatieren\nconst eventLines = events.map(e => {\n  const ev = e.json;\n  const start = ev.start?.dateTime ? new Date(ev.start.dateTime).toLocaleTimeString('de-DE', {hour:'2-digit', minute:'2-digit'}) : 'ganztaegig';\n  const end = ev.end?.dateTime ? new Date(ev.end.dateTime).toLocaleTimeString('de-DE', {hour:'2-digit', minute:'2-digit'}) : '';\n  return `• ${start}${end ? '-'+end : ''} ${ev.summary || 'Termin'}`;\n});\n\n// Briefing zusammenbauen\nlet msg = `Guten Morgen! Dein Tag (${today}):\\n\\n`;\n\nif (todayTasks.length > 0) {\n  msg += `📋 Tasks heute (${todayTasks.length}):\\n${todayTasks.join('\\n')}\\n\\n`;\n} else {\n  msg += `📋 Keine Tasks heute faellig.\\n\\n`;\n}\n\nif (overdueTasks.length > 0) {\n  msg += `⚠️ Ueberfaellig (${overdueTasks.length}):\\n${overdueTasks.join('\\n')}\\n\\n`;\n}\n\nif (eventLines.length > 0) {\n  msg += `📅 Termine:\\n${eventLines.join('\\n')}\\n\\n`;\n} else {\n  msg += `📅 Keine Termine heute.\\n\\n`;\n}\n\n// Naechste 3 Tasks\nconst next3 = upcomingTasks.slice(0, 3);\nif (next3.length > 0) {\n  msg += `🔜 Naechste Tasks:\\n${next3.map(t => `• ${t.title} (${t.due || 'kein Datum'}) [${t.prio}]`).join('\\n')}\\n`;\n}\n\nmsg += `\\n---\\nTotal offene Tasks: ${tasks.length}`;\n\nreturn [{ json: { briefing: msg } }];"
        },
        "id": "1384efad-4bfd-463c-8821-e182dd28ef6f",
        "name": "Format Briefing",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          272,
          112
        ]
      },
      {
        "parameters": {
          "chatId": "6526468834",
          "text": "={{ $json.briefing }}",
          "additionalFields": {
            "parse_mode": "HTML"
          }
        },
        "id": "eea434da-10ee-4f99-a577-5fad0d8b52b0",
        "name": "Send Briefing",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          512,
          112
        ],
        "webhookId": "84924646-1a31-45b4-841a-0ae085d70f40"
      }
    ],
    "connections": {
      "Daily 07:00": {
        "main": [
          [
            {
              "node": "Get Tasks",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Tasks": {
        "main": [
          [
            {
              "node": "Format Briefing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Briefing": {
        "main": [
          [
            {
              "node": "Send Briefing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate"
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "9ba2028c-807d-4657-9f0e-794e08795c20",
    "activeVersionId": null,
    "versionCounter": 2,
    "triggerCount": 0,
    "tags": [
      {
        "updatedAt": "2026-03-28T18:51:47.046Z",
        "createdAt": "2026-03-28T18:51:47.046Z",
        "id": "bzuPAL7S8Y7yZRLv",
        "name": "diti-ai"
      },
      {
        "updatedAt": "2026-03-28T18:51:47.043Z",
        "createdAt": "2026-03-28T18:51:47.043Z",
        "id": "ufC1BgcmNZCN2zIq",
        "name": "phase-1"
      }
    ],
    "shared": [
      {
        "updatedAt": "2026-03-28T18:51:48.615Z",
        "createdAt": "2026-03-28T18:51:48.615Z",
        "role": "workflow:owner",
        "workflowId": "EqbptnAergDmhJK2",
        "projectId": "iBAWD267Vept8IBP",
        "project": {
          "updatedAt": "2026-03-23T10:47:09.598Z",
          "createdAt": "2026-03-21T19:38:32.132Z",
          "id": "iBAWD267Vept8IBP",
          "name": "Endrit Murati <endrit.murati99@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "a3d35fcb-0e60-4b54-bc69-fded945cc6eb"
        }
      }
    ],
    "versionMetadata": {
      "name": null,
      "description": null
    }
  },
  {
    "updatedAt": "2026-03-28T18:52:17.901Z",
    "createdAt": "2026-03-28T18:52:17.901Z",
    "id": "qyLExLjeBXZ4nd2Y",
    "name": "P1-gmail-label-task-v1",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "filters": {
            "labelIds": [
              "AI/TODO"
            ]
          }
        },
        "id": "dbcd1326-1095-4470-b8e1-fca00946ea89",
        "name": "Gmail Trigger",
        "type": "n8n-nodes-base.gmailTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "// E-Mail Metadaten extrahieren\nconst email = items[0].json;\n\nfunction generateULID() {\n  const ENCODING = '0123456789ABCDEFGHJKMNPQRSTVWXYZ';\n  let now = Date.now();\n  let timeStr = '';\n  for (let i = 9; i >= 0; i--) {\n    timeStr = ENCODING[now % 32] + timeStr;\n    now = Math.floor(now / 32);\n  }\n  let randomStr = '';\n  for (let i = 0; i < 16; i++) {\n    randomStr += ENCODING[Math.floor(Math.random() * 32)];\n  }\n  return timeStr + randomStr;\n}\n\nconst subject = email.subject || email.headers?.subject || 'Kein Betreff';\nconst from = email.from || email.headers?.from || 'unbekannt';\nconst threadId = email.threadId || email.id || '';\nconst messageId = email.id || email.messageId || '';\n\nreturn [{\n  json: {\n    subject,\n    from,\n    threadId,\n    messageId,\n    event_id: generateULID(),\n    taskTitle: `[Email] ${subject}`,\n    taskNotes: `Von: ${from}\\nThread: ${threadId}\\nMessage: ${messageId}\\nEvent: ${generateULID()}`\n  }\n}];"
        },
        "id": "c469e481-b8df-4b59-ba0a-996aece5e8dc",
        "name": "Extract Email Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          240,
          0
        ]
      },
      {
        "parameters": {
          "title": "={{ $json.taskTitle }}",
          "additionalFields": {}
        },
        "id": "bb7d8146-2cca-4aa5-a57f-aa8189aa09a8",
        "name": "Google Tasks: Create",
        "type": "n8n-nodes-base.googleTasks",
        "typeVersion": 1,
        "position": [
          464,
          0
        ]
      },
      {
        "parameters": {
          "operation": "addLabels",
          "messageId": "={{ $('Extract Email Data').item.json.messageId }}",
          "labelIds": [
            "AI/PROCESSED"
          ]
        },
        "id": "b14a1f58-30b8-422d-9e81-2590a3f3084f",
        "name": "Gmail: Update Labels",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          704,
          0
        ],
        "webhookId": "994e62bb-df98-4542-a328-e8df32e88f32"
      },
      {
        "parameters": {
          "chatId": "6526468834",
          "text": "={{ '📧 Task aus E-Mail erstellt:\\n' + $('Extract Email Data').item.json.taskTitle + '\\nVon: ' + $('Extract Email Data').item.json.from }}",
          "additionalFields": {}
        },
        "id": "d383453e-46c0-4ee0-ba2d-9c85c05822c7",
        "name": "Telegram Notify",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          928,
          0
        ],
        "webhookId": "3d80b2d7-d3eb-4afb-bac4-167ac642c783"
      }
    ],
    "connections": {
      "Gmail Trigger": {
        "main": [
          [
            {
              "node": "Extract Email Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Email Data": {
        "main": [
          [
            {
              "node": "Google Tasks: Create",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Tasks: Create": {
        "main": [
          [
            {
              "node": "Gmail: Update Labels",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gmail: Update Labels": {
        "main": [
          [
            {
              "node": "Telegram Notify",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate"
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "52ade2eb-4f4a-42d5-a9ab-c4297057fb4d",
    "activeVersionId": null,
    "versionCounter": 2,
    "triggerCount": 0,
    "tags": [
      {
        "updatedAt": "2026-03-28T18:51:47.046Z",
        "createdAt": "2026-03-28T18:51:47.046Z",
        "id": "bzuPAL7S8Y7yZRLv",
        "name": "diti-ai"
      },
      {
        "updatedAt": "2026-03-28T18:51:47.043Z",
        "createdAt": "2026-03-28T18:51:47.043Z",
        "id": "ufC1BgcmNZCN2zIq",
        "name": "phase-1"
      }
    ],
    "shared": [
      {
        "updatedAt": "2026-03-28T18:52:17.901Z",
        "createdAt": "2026-03-28T18:52:17.901Z",
        "role": "workflow:owner",
        "workflowId": "qyLExLjeBXZ4nd2Y",
        "projectId": "iBAWD267Vept8IBP",
        "project": {
          "updatedAt": "2026-03-23T10:47:09.598Z",
          "createdAt": "2026-03-21T19:38:32.132Z",
          "id": "iBAWD267Vept8IBP",
          "name": "Endrit Murati <endrit.murati99@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "a3d35fcb-0e60-4b54-bc69-fded945cc6eb"
        }
      }
    ],
    "versionMetadata": {
      "name": null,
      "description": null
    }
  },
  {
    "updatedAt": "2026-03-28T19:00:19.050Z",
    "createdAt": "2026-03-28T18:56:41.294Z",
    "id": "fQvWw7CyAbhRQ86g",
    "name": "P1-telegram-intake-v1",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "updates": [
            "message"
          ],
          "additionalFields": {}
        },
        "id": "bc3f9610-a009-4ab5-8108-3e463c64df4c",
        "name": "Telegram Trigger",
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.1,
        "position": [
          -704,
          208
        ],
        "webhookId": "e3dd43cc-2789-4b0c-97d2-fb4cf7b45988",
        "credentials": {
          "telegramApi": {
            "id": "ArH28ZVfcRNFvTiN",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "function generateULID() {\n  const E = '0123456789ABCDEFGHJKMNPQRSTVWXYZ';\n  let now = Date.now(), t = '';\n  for (let i = 9; i >= 0; i--) { t = E[now % 32] + t; now = Math.floor(now / 32); }\n  let r = '';\n  for (let i = 0; i < 16; i++) r += E[Math.floor(Math.random() * 32)];\n  return t + r;\n}\n\nfunction parseCommand(text) {\n  if (!text) return { command: 'unknown', title: '', params: {}, raw: '' };\n  text = text.trim();\n  const m = text.match(/^([tfkqwmh]):\\s*(.*)/is);\n  if (!m) return { command: 'unknown', title: text, params: {}, raw: text };\n  const command = m[1].toLowerCase();\n  let rest = m[2];\n  const params = {};\n  const re = /\\/(\\w+)=([^\\s\\/]+)/g;\n  let match;\n  while ((match = re.exec(rest)) !== null) params[match[1]] = match[2];\n  const title = rest.replace(/\\/\\w+=[^\\s\\/]+/g, '').trim();\n  return { command, title, params, raw: text };\n}\n\nconst msg = items[0].json.message || items[0].json;\nconst text = msg.text || '';\nconst msgId = msg.message_id || '';\nconst chatId = msg.chat?.id || '';\n\nif (chatId.toString() !== '6526468834') { return []; }\n\nconst parsed = parseCommand(text);\n\nconst routeMap = { t:'google_tasks_next', f:'google_tasks_waiting', k:'obsidian_inbox', q:'google_calendar_freebusy', w:'notion_health', m:'obsidian_inbox', h:'notion_health' };\nconst typeMap = { t:'task.create', f:'followup.create', k:'knowledge.draft', q:'calendar.query', w:'workout.log', m:'meeting.create', h:'health.log' };\n\nreturn [{\n  json: {\n    command: parsed.command,\n    title: parsed.title,\n    params: parsed.params,\n    chat_id: chatId,\n    message_id: msgId,\n    event_id: generateULID(),\n    event_type: typeMap[parsed.command] || 'unknown',\n    routing: routeMap[parsed.command] || 'unknown',\n    timestamp: new Date().toISOString()\n  }\n}];"
        },
        "id": "8231970a-a836-425e-9eb7-f4f1eda5a330",
        "name": "Command Parser",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -480,
          208
        ]
      },
      {
        "parameters": {
          "dataType": "string",
          "value1": "={{ $json.command }}",
          "fallbackOutput": 4
        },
        "id": "b3fe167e-9f01-4254-bb14-1744e0e2697c",
        "name": "Route Command",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 1,
        "position": [
          -256,
          208
        ]
      },
      {
        "parameters": {
          "title": "={{ $json.title }}",
          "additionalFields": {}
        },
        "id": "5dc2ee3a-d908-4654-8485-c464183d51cc",
        "name": "Google Tasks: NEXT",
        "type": "n8n-nodes-base.googleTasks",
        "typeVersion": 1,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "title": "={{ 'WAITING: ' + $json.title }}",
          "additionalFields": {}
        },
        "id": "e12244b1-73b5-4282-b8ef-9893d4f821f6",
        "name": "Google Tasks: WAITING",
        "type": "n8n-nodes-base.googleTasks",
        "typeVersion": 1,
        "position": [
          0,
          160
        ]
      },
      {
        "parameters": {
          "jsCode": "const item = items[0].json;\nconst date = new Date().toISOString().split('T')[0];\nconst title = item.title || 'Unbenannt';\nconst filename = date + ' - ' + title + '.md';\n\nconst frontmatter = [\n  '---',\n  'id: ' + item.event_id,\n  'date: ' + date,\n  'source: telegram',\n  'source_id: msg_' + item.message_id,\n  'topic: ' + (item.params.topic || ''),\n  'project_id: ' + (item.params.project || item.params.p || ''),\n  'status: draft',\n  'review_state: pending',\n  'tags:',\n  '  - knowledge',\n  '  - inbox',\n  '---',\n].join('\\n');\n\nconst content = frontmatter + '\\n\\n# ' + title + '\\n\\n> [!info] Quelle\\n> ' + (item.params.src || 'telegram') + '\\n\\n## Notizen\\n\\n- \\n\\n## Naechste Schritte\\n\\n- [ ] Review und finalisieren\\n';\n\nreturn [{ json: { filename, content, path: 'obsidian-vault/00_INBOX/' + filename } }];"
        },
        "id": "0394f27f-10a7-40e7-b681-46a2f89f0620",
        "name": "Knowledge Draft",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          304
        ]
      },
      {
        "parameters": {
          "filePath": "={{ $json.path }}",
          "fileContent": "={{ $json.content }}"
        },
        "id": "481404ea-7283-4804-9946-1e220c81da23",
        "name": "Write Obsidian File",
        "type": "n8n-nodes-base.readWriteFile",
        "typeVersion": 1,
        "position": [
          448,
          448
        ]
      },
      {
        "parameters": {
          "jsCode": "const item = items[0].json;\nconst title = item.title || '';\nconst dateMatch = title.match(/(\\d{4}-\\d{2}-\\d{2})/);\nconst queryDate = dateMatch ? dateMatch[1] : new Date().toISOString().split('T')[0];\nconst window = item.params.window || '09:00-17:00';\nconst parts = window.split('-');\nconst tz = item.params.tz || 'Europe/Berlin';\n\nreturn [{\n  json: {\n    timeMin: queryDate + 'T' + parts[0] + ':00',\n    timeMax: queryDate + 'T' + parts[1] + ':00',\n    timeZone: tz,\n    queryDate,\n    chat_id: item.chat_id,\n    event_id: item.event_id\n  }\n}];"
        },
        "id": "2ed5d6ac-d2e7-48cd-b199-5b56610aaf37",
        "name": "Calendar Query Prep",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          464
        ]
      },
      {
        "parameters": {
          "chatId": "={{ $('Command Parser').item.json.chat_id }}",
          "text": "={{ $('Command Parser').item.json.command === 't' ? '\\u2705 Task erstellt: ' + $('Command Parser').item.json.title : $('Command Parser').item.json.command === 'f' ? '\\u23f3 Follow-up erstellt: ' + $('Command Parser').item.json.title : $('Command Parser').item.json.command === 'k' ? '\\ud83d\\udcdd Knowledge Draft erstellt: ' + $('Command Parser').item.json.title : $('Command Parser').item.json.command === 'q' ? '\\ud83d\\udcc5 Kalender wird abgefragt...' : '\\u2753 Command nicht erkannt. Nutze t:, f:, k:, q:, w:, m:, h:' }}",
          "additionalFields": {}
        },
        "id": "cc79cc15-e5f7-4584-bc3d-ce0c7dabe62c",
        "name": "Telegram Reply",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          448,
          208
        ],
        "webhookId": "e3920e21-4d09-44df-80ce-8bac694916cc",
        "credentials": {
          "telegramApi": {
            "id": "ArH28ZVfcRNFvTiN",
            "name": "Telegram account"
          }
        }
      }
    ],
    "connections": {
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "Command Parser",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Command Parser": {
        "main": [
          [
            {
              "node": "Route Command",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route Command": {
        "main": [
          [
            {
              "node": "Google Tasks: NEXT",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Google Tasks: WAITING",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Knowledge Draft",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Calendar Query Prep",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Tasks: NEXT": {
        "main": [
          [
            {
              "node": "Telegram Reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Tasks: WAITING": {
        "main": [
          [
            {
              "node": "Telegram Reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate"
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "139d3cf5-4b70-44fd-a013-137c97a7a646",
    "activeVersionId": null,
    "versionCounter": 5,
    "triggerCount": 0,
    "tags": [
      {
        "updatedAt": "2026-03-28T18:51:47.046Z",
        "createdAt": "2026-03-28T18:51:47.046Z",
        "id": "bzuPAL7S8Y7yZRLv",
        "name": "diti-ai"
      },
      {
        "updatedAt": "2026-03-28T18:51:47.043Z",
        "createdAt": "2026-03-28T18:51:47.043Z",
        "id": "ufC1BgcmNZCN2zIq",
        "name": "phase-1"
      }
    ],
    "shared": [
      {
        "updatedAt": "2026-03-28T18:56:41.294Z",
        "createdAt": "2026-03-28T18:56:41.294Z",
        "role": "workflow:owner",
        "workflowId": "fQvWw7CyAbhRQ86g",
        "projectId": "iBAWD267Vept8IBP",
        "project": {
          "updatedAt": "2026-03-23T10:47:09.598Z",
          "createdAt": "2026-03-21T19:38:32.132Z",
          "id": "iBAWD267Vept8IBP",
          "name": "Endrit Murati <endrit.murati99@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "a3d35fcb-0e60-4b54-bc69-fded945cc6eb"
        }
      }
    ],
    "versionMetadata": {
      "name": null,
      "description": null
    }
  }
]