Mobile Picking und Voice Assistant/n8n/workflows/batch-confirmed.json
{
  "name": "Batch Confirmed",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "batch-confirmed",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 280],
      "webhookId": "800c3122-ff6f-4818-9ae4-283b836fbe5b"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ !!$json.payload.batch_id }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Has Batch?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 280]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "completion_log",
              "value": "=Batch {{ $json.payload.batch_id }} abgeschlossen von {{ $json.payload.completed_by }} (User {{ $json.payload.completed_by_user_id }}).",
              "type": "string"
            }
          ]
        }
      },
      "name": "Format Completion",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [680, 360]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'received', tts_text: 'Batch-Abschluss empfangen.', source: 'n8n', correlation_id: $json.correlation_id }) }}"
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 160]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Has Batch?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Has Batch?": {
      "main": [
        [
          { "node": "Respond", "type": "main", "index": 0 },
          { "node": "Format Completion", "type": "main", "index": 0 }
        ],
        [
          { "node": "Respond", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "picking" }
  ]
}
