Mobile Picking und Voice Assistant/n8n/workflows/P1-telegram-intake-v1.json
{
  "name": "P1-telegram-intake-v1",
  "id": "fQvWw7CyAbhRQ86g",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "ArH28ZVfcRNFvTiN",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function generateULID() {\n  const E = '0123456789ABCDEFGHJKMNPQRSTVWXYZ';\n  let now = Date.now(), t = '';\n  for (let i = 9; i >= 0; i--) { t = E[now % 32] + t; now = Math.floor(now / 32); }\n  let r = '';\n  for (let i = 0; i < 16; i++) r += E[Math.floor(Math.random() * 32)];\n  return t + r;\n}\n\nfunction parseCommand(text) {\n  if (!text) return { command: 'unknown', title: '', params: {}, raw: '' };\n  text = text.trim();\n  const m = text.match(/^([tfkqwmh]):\\s*(.*)/is);\n  if (!m) return { command: 'unknown', title: text, params: {}, raw: text };\n  const command = m[1].toLowerCase();\n  let rest = m[2];\n  const params = {};\n  const re = /\\/(\\w+)=([^\\s\\/]+)/g;\n  let match;\n  while ((match = re.exec(rest)) !== null) params[match[1]] = match[2];\n  const title = rest.replace(/\\/\\w+=[^\\s\\/]+/g, '').trim();\n  return { command, title, params, raw: text };\n}\n\nconst msg = items[0].json.message || items[0].json;\nconst text = msg.text || '';\nconst msgId = msg.message_id || '';\nconst chatId = msg.chat?.id || '';\n\nif (chatId.toString() !== '6526468834') { return []; }\n\nconst parsed = parseCommand(text);\n\nconst routeMap = { t:'google_tasks_next', f:'google_tasks_waiting', k:'obsidian_inbox', q:'google_calendar_freebusy', w:'notion_health', m:'obsidian_inbox', h:'notion_health' };\nconst typeMap = { t:'task.create', f:'followup.create', k:'knowledge.draft', q:'calendar.query', w:'workout.log', m:'meeting.create', h:'health.log' };\n\nreturn [{\n  json: {\n    command: parsed.command,\n    title: parsed.title,\n    params: parsed.params,\n    chat_id: chatId,\n    message_id: msgId,\n    event_id: generateULID(),\n    event_type: typeMap[parsed.command] || 'unknown',\n    routing: routeMap[parsed.command] || 'unknown',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "command-parser",
      "name": "Command Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.command }}",
        "routingRules": {
          "rules": [
            {
              "value2": "t",
              "output": 0
            },
            {
              "value2": "f",
              "output": 1
            },
            {
              "value2": "k",
              "output": 2
            },
            {
              "value2": "q",
              "output": 3
            }
          ]
        },
        "fallbackOutput": 4
      },
      "id": "route-command",
      "name": "Route Command",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        710,
        300
      ]
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "create",
        "taskList": "NEXT",
        "title": "={{ $json.title }}",
        "dueDate": "={{ $json.params.due || '' }}",
        "notes": "={{ 'Event: ' + $json.event_id + '\\nProjekt: ' + ($json.params.p || '-') + '\\nPrio: ' + ($json.params.prio || 'M') + '\\nKontext: ' + ($json.params.ctx || '-') }}"
      },
      "id": "create-task-next",
      "name": "Google Tasks: NEXT",
      "type": "n8n-nodes-base.googleTasks",
      "typeVersion": 1,
      "position": [
        960,
        100
      ],
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "s305fscwssjI56L7",
          "name": "Google OAuth2"
        }
      }
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "create",
        "taskList": "WAITING",
        "title": "={{ 'WAITING: ' + $json.title }}",
        "dueDate": "={{ $json.params.due || '' }}",
        "notes": "={{ 'Follow-up fuer: ' + ($json.params.to || '-') + '\\nEvent: ' + $json.event_id }}"
      },
      "id": "create-task-waiting",
      "name": "Google Tasks: WAITING",
      "type": "n8n-nodes-base.googleTasks",
      "typeVersion": 1,
      "position": [
        960,
        250
      ],
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "s305fscwssjI56L7",
          "name": "Google OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = items[0].json;\nconst date = new Date().toISOString().split('T')[0];\nconst title = item.title || 'Unbenannt';\nconst filename = date + ' - ' + title + '.md';\n\nconst frontmatter = [\n  '---',\n  'id: ' + item.event_id,\n  'date: ' + date,\n  'source: telegram',\n  'source_id: msg_' + item.message_id,\n  'topic: ' + (item.params.topic || ''),\n  'project_id: ' + (item.params.project || item.params.p || ''),\n  'status: draft',\n  'review_state: pending',\n  'tags:',\n  '  - knowledge',\n  '  - inbox',\n  '---',\n].join('\\n');\n\nconst content = frontmatter + '\\n\\n# ' + title + '\\n\\n> [!info] Quelle\\n> ' + (item.params.src || 'telegram') + '\\n\\n## Notizen\\n\\n- \\n\\n## Naechste Schritte\\n\\n- [ ] Review und finalisieren\\n';\n\nreturn [{ json: { filename, content, path: 'obsidian-vault/00_INBOX/' + filename } }];"
      },
      "id": "knowledge-draft",
      "name": "Knowledge Draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        400
      ]
    },
    {
      "parameters": {
        "filePath": "={{ $json.path }}",
        "fileContent": "={{ $json.content }}"
      },
      "id": "write-obsidian-file",
      "name": "Write Obsidian File",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1180,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = items[0].json;\nconst title = item.title || '';\nconst dateMatch = title.match(/(\\d{4}-\\d{2}-\\d{2})/);\nconst queryDate = dateMatch ? dateMatch[1] : new Date().toISOString().split('T')[0];\nconst window = item.params.window || '09:00-17:00';\nconst parts = window.split('-');\nconst tz = item.params.tz || 'Europe/Berlin';\n\nreturn [{\n  json: {\n    timeMin: queryDate + 'T' + parts[0] + ':00',\n    timeMax: queryDate + 'T' + parts[1] + ':00',\n    timeZone: tz,\n    queryDate,\n    chat_id: item.chat_id,\n    event_id: item.event_id\n  }\n}];"
      },
      "id": "calendar-query-prep",
      "name": "Calendar Query Prep",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        550
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Command Parser').item.json.chat_id }}",
        "text": "={{ $('Command Parser').item.json.command === 't' ? '\\u2705 Task erstellt: ' + $('Command Parser').item.json.title : $('Command Parser').item.json.command === 'f' ? '\\u23f3 Follow-up erstellt: ' + $('Command Parser').item.json.title : $('Command Parser').item.json.command === 'k' ? '\\ud83d\\udcdd Knowledge Draft erstellt: ' + $('Command Parser').item.json.title : $('Command Parser').item.json.command === 'q' ? '\\ud83d\\udcc5 Kalender wird abgefragt...' : '\\u2753 Command nicht erkannt. Nutze t:, f:, k:, q:, w:, m:, h:' }}",
        "additionalFields": {}
      },
      "id": "telegram-reply",
      "name": "Telegram Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1400,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "ArH28ZVfcRNFvTiN",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Command Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Command Parser": {
      "main": [
        [
          {
            "node": "Route Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Command": {
      "main": [
        [
          {
            "node": "Google Tasks: NEXT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Tasks: WAITING",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Knowledge Draft",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Calendar Query Prep",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Tasks: NEXT": {
      "main": [
        [
          {
            "node": "Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Tasks: WAITING": {
      "main": [
        [
          {
            "node": "Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Draft": {
      "main": [
        [
          {
            "node": "Write Obsidian File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Obsidian File": {
      "main": [
        [
          {
            "node": "Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "diti-ai"
    },
    {
      "name": "phase-1"
    }
  ]
}