Mobile Picking und Voice Assistant/n8n/backups/20260326-133555/deployed-workflows.json
[{"updatedAt":"2026-03-23T14:05:40.296Z","createdAt":"2026-03-23T13:45:21.497Z","id":"UjLE29R-B163W9p3s6vIO","name":"Daily Picking Report","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8 * * 1-5"}]}},"name":"Schedule (Mo-Fr 08:00)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"42174f26-018b-43b5-8911-b7d34e9a630c"},{"parameters":{"options":{}},"name":"Generate Report","type":"n8n-nodes-base.set","typeVersion":3,"position":[208,0],"id":"6d60cdc9-a5f3-4ec8-a5de-8f022700a8ee"}],"connections":{"Schedule (Mo-Fr 08:00)":{"main":[[{"node":"Generate Report","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":true},"staticData":{"node:Schedule (Mo-Fr 08:00)":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"a5fe10f0-e7c3-441f-af6e-5dee82d07b30","activeVersionId":"a5fe10f0-e7c3-441f-af6e-5dee82d07b30","versionCounter":19,"triggerCount":1,"tags":[{"updatedAt":"2026-03-23T13:44:28.786Z","createdAt":"2026-03-23T13:44:28.786Z","id":"NdD2hAo2kj9BGX52","name":"reporting"}],"shared":[{"updatedAt":"2026-03-23T13:45:21.497Z","createdAt":"2026-03-23T13:45:21.497Z","role":"workflow:owner","workflowId":"UjLE29R-B163W9p3s6vIO","projectId":"iBAWD267Vept8IBP","project":{"updatedAt":"2026-03-23T10:47:09.598Z","createdAt":"2026-03-21T19:38:32.132Z","id":"iBAWD267Vept8IBP","name":"Endrit Murati <endrit.murati99@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"a3d35fcb-0e60-4b54-bc69-fded945cc6eb"}}],"versionMetadata":{"name":"Version a5fe10f0","description":""}},{"updatedAt":"2026-03-24T10:17:36.015Z","createdAt":"2026-03-23T13:44:30.363Z","id":"BLy10U9JPRgRHnq1wD50z","name":"Pick Confirmed","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"pick-confirmed","responseMode":"responseNode","options":{"rawBody":false}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-400,112],"id":"e84ba48f-6355-4ac2-8a59-eca5a220c549","webhookId":"a1ab9944-c7aa-4e68-bdfa-a378e36f5c10"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ !!$json.picking_id }}","value2":true}]},"options":{}},"name":"Picking komplett?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-208,112],"id":"8b701185-433d-4d68-98e7-ac53945f4c77"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'received' }) }}","options":{}},"name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[0,0],"id":"f098fd07-1b6c-439d-a53a-35334d3b3fdd"},{"parameters":{"options":{}},"name":"Log Completion","type":"n8n-nodes-base.set","typeVersion":3,"position":[16,176],"id":"0f7c285d-3231-48a0-afa0-adabfdadf301"}],"connections":{"Webhook":{"main":[[{"node":"Picking komplett?","type":"main","index":0}]]},"Picking komplett?":{"main":[[{"node":"Respond","type":"main","index":0}],[{"node":"Respond","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":true,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":{},"versionId":"ebc01fe8-0922-42e3-8f01-4b48ea06048a","activeVersionId":"eae22871-20db-4ed6-b301-f8492194b88f","versionCounter":26,"triggerCount":1,"tags":[{"updatedAt":"2026-03-23T13:44:28.786Z","createdAt":"2026-03-23T13:44:28.786Z","id":"NdD2hAo2kj9BGX52","name":"reporting"},{"updatedAt":"2026-03-23T13:44:41.282Z","createdAt":"2026-03-23T13:44:41.282Z","id":"CdDBz231hfVoLI5j","name":"picking"}],"shared":[{"updatedAt":"2026-03-23T13:44:30.363Z","createdAt":"2026-03-23T13:44:30.363Z","role":"workflow:owner","workflowId":"BLy10U9JPRgRHnq1wD50z","projectId":"iBAWD267Vept8IBP","project":{"updatedAt":"2026-03-23T10:47:09.598Z","createdAt":"2026-03-21T19:38:32.132Z","id":"iBAWD267Vept8IBP","name":"Endrit Murati <endrit.murati99@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"a3d35fcb-0e60-4b54-bc69-fded945cc6eb"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-24T18:08:11.686Z","createdAt":"2026-03-24T18:08:11.686Z","id":"gbORshGxWbOEtkpdV2hl4","name":"Quality Alert Created Legacy Draft","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"quality-alert-created","responseMode":"responseNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[320,224],"id":"2fd80c0e-669c-4ec5-b01f-0b9e396c62b2","webhookId":"774590eb-8046-4724-845d-1a5d1feb94cf"},{"parameters":{"options":{}},"name":"Draft Assessment","type":"n8n-nodes-base.set","typeVersion":3,"position":[640,224],"id":"a9d7e801-0979-40ac-a949-56ec1f1f19ba"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'received', tts_text: 'Quality Alert empfangen.', source: 'n8n', correlation_id: $json.correlation_id }) }}","options":{}},"name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[560,64],"id":"aef67591-18c7-4ba5-838a-61cfb79c00be"}],"connections":{"Webhook":{"main":[[{"node":"Respond","type":"main","index":0},{"node":"Draft Assessment","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"357e6251-cf57-4992-971c-509f544003eb","activeVersionId":null,"versionCounter":3,"triggerCount":0,"tags":[{"updatedAt":"2026-03-23T13:45:34.296Z","createdAt":"2026-03-23T13:45:34.296Z","id":"vQ8WlKGk0WWSGlXo","name":"quality"}],"shared":[{"updatedAt":"2026-03-24T18:08:11.686Z","createdAt":"2026-03-24T18:08:11.686Z","role":"workflow:owner","workflowId":"gbORshGxWbOEtkpdV2hl4","projectId":"iBAWD267Vept8IBP","project":{"updatedAt":"2026-03-23T10:47:09.598Z","createdAt":"2026-03-21T19:38:32.132Z","id":"iBAWD267Vept8IBP","name":"Endrit Murati <endrit.murati99@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"a3d35fcb-0e60-4b54-bc69-fded945cc6eb"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-26T12:14:56.925Z","createdAt":"2026-03-24T18:08:26.178Z","id":"daNZ5N_6MZL4YkIvTLkp7","name":"Pick Confirmed","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"pick-confirmed","responseMode":"responseNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[128,160],"id":"12d86ed4-9b2d-459b-8fae-9038891dcf42","webhookId":"a1fa59d6-28f9-47f4-806b-8848fde9a2b4"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ !!$json.payload.picking_id }}","value2":true}]},"options":{}},"name":"Has Picking?","type":"n8n-nodes-base.if","typeVersion":2,"position":[352,160],"id":"df8156fd-f83a-4f7e-bde3-361521ee49fb"},{"parameters":{"options":{}},"name":"Format Completion","type":"n8n-nodes-base.set","typeVersion":3,"position":[576,256],"id":"dd5724c1-302a-4f40-b815-1e1a25426438"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'received', tts_text: 'Completion Event empfangen.', source: 'n8n', correlation_id: $json.correlation_id }) }}","options":{}},"name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[576,64],"id":"3c667726-0e32-4267-9ed0-b8b1c8401a64"}],"connections":{"Webhook":{"main":[[{"node":"Has Picking?","type":"main","index":0}]]},"Has Picking?":{"main":[[{"node":"Respond","type":"main","index":0},{"node":"Format Completion","type":"main","index":0}],[{"node":"Respond","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"3306dd7b-22cf-4894-ad92-d01218edb3da","activeVersionId":null,"versionCounter":2,"triggerCount":0,"tags":[{"updatedAt":"2026-03-23T13:44:41.282Z","createdAt":"2026-03-23T13:44:41.282Z","id":"CdDBz231hfVoLI5j","name":"picking"}],"shared":[{"updatedAt":"2026-03-24T18:08:26.178Z","createdAt":"2026-03-24T18:08:26.178Z","role":"workflow:owner","workflowId":"daNZ5N_6MZL4YkIvTLkp7","projectId":"iBAWD267Vept8IBP","project":{"updatedAt":"2026-03-23T10:47:09.598Z","createdAt":"2026-03-21T19:38:32.132Z","id":"iBAWD267Vept8IBP","name":"Endrit Murati <endrit.murati99@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"a3d35fcb-0e60-4b54-bc69-fded945cc6eb"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-26T12:36:02.204Z","createdAt":"2026-03-26T12:06:03.902Z","id":"99fa93a638824b84b8578e4c8942c419","name":"Error Trigger","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[240,280],"id":"572c6b17-586e-421c-bec7-41a25f57d963"},{"parameters":{"functionCode":"const input = items[0]?.json || {};\nconst exec = input.execution || {};\nconst wf = input.workflow || {};\nconst err = exec.error || {};\nconst workflow_name = String(wf.name || 'unknown-workflow');\nconst workflow_key = workflow_name.toLowerCase();\nconst failing_node = String(err.node || 'unknown');\nconst error_message = String(err.message || 'Unknown error');\nconst execution_url = String(exec.url || '');\n\nconst normalizeNumericId = (value) => {\n  if (value === undefined || value === null || value === '') {\n    return null;\n  }\n  const numeric = Number(value);\n  return Number.isFinite(numeric) ? numeric : null;\n};\n\nconst collectItemJsons = () => {\n  const collected = [];\n  try {\n    const data = exec.data || {};\n    const resultData = data.resultData || {};\n    const runData = resultData.runData || {};\n    for (const nodeRuns of Object.values(runData)) {\n      if (!Array.isArray(nodeRuns)) {\n        continue;\n      }\n      for (const run of nodeRuns) {\n        const branches = run && run.data && run.data.main;\n        if (!Array.isArray(branches)) {\n          continue;\n        }\n        for (const branch of branches) {\n          if (!Array.isArray(branch)) {\n            continue;\n          }\n          for (const item of branch) {\n            if (item && item.json && typeof item.json === 'object') {\n              collected.push(item.json);\n            }\n          }\n        }\n      }\n    }\n  } catch (e) {\n    return collected;\n  }\n  return collected;\n};\n\nlet correlation_id = '';\nlet alert_id = null;\nlet picking_id = null;\n\nfor (const itemJson of collectItemJsons()) {\n  if (!correlation_id && itemJson.correlation_id) {\n    correlation_id = String(itemJson.correlation_id);\n  }\n  const payload = itemJson.payload || {};\n  const pickingContext = itemJson.picking_context || {};\n\n  if (alert_id === null) {\n    alert_id = normalizeNumericId(itemJson.alert_id ?? payload.alert_id);\n  }\n  if (picking_id === null) {\n    picking_id = normalizeNumericId(itemJson.picking_id ?? pickingContext.picking_id ?? payload.picking_id);\n  }\n\n  if (correlation_id && alert_id !== null && picking_id !== null) {\n    break;\n  }\n}\n\nlet route = 'log_only';\nif (workflow_key.includes('quality') && alert_id !== null) {\n  route = 'quality';\n} else if (workflow_key.includes('shortage') && picking_id !== null) {\n  route = 'shortage';\n}\n\nreturn [{ json: {\n  workflow_name,\n  failing_node,\n  error_message,\n  correlation_id,\n  execution_url,\n  alert_id,\n  picking_id,\n  route,\n} }];"},"name":"Extract Context","type":"n8n-nodes-base.function","typeVersion":1,"position":[480,280],"id":"8f24ae2b-d9fc-4ba2-81a0-6e8f4eb53bfc"},{"parameters":{"dataType":"string","value1":"={{ $json.route }}","rules":{"rules":[{"operation":"equal","value2":"shortage","output":0},{"operation":"equal","value2":"quality","output":1}]},"fallbackOutput":2},"name":"Branch by Workflow","type":"n8n-nodes-base.switch","typeVersion":1,"position":[720,280],"id":"1b225b69-9229-42d1-8296-1095d9c7ecae"},{"parameters":{"requestMethod":"POST","url":"http://backend:8000/api/internal/n8n/manual-review-activity","jsonParameters":true,"options":{},"headerParametersJson":"={{ JSON.stringify({ \"X-N8N-Callback-Secret\": $env.N8N_CALLBACK_SECRET }) }}","bodyParametersJson":"={{ JSON.stringify({ picking_id: $json.picking_id, correlation_id: $json.correlation_id, reason: $json.error_message, execution_url: $json.execution_url }) }}"},"name":"Notify Shortage Failure","type":"n8n-nodes-base.httpRequest","typeVersion":2,"onError":"continueRegularOutput","position":[960,140],"id":"9a4472c5-2d89-425e-8429-83b9082b5e75"},{"parameters":{"requestMethod":"POST","url":"http://backend:8000/api/internal/n8n/quality-assessment-failed","jsonParameters":true,"options":{},"headerParametersJson":"={{ JSON.stringify({ \"X-N8N-Callback-Secret\": $env.N8N_CALLBACK_SECRET }) }}","bodyParametersJson":"={{ JSON.stringify({ alert_id: $json.alert_id, correlation_id: $json.correlation_id, failure_reason: $json.error_message }) }}"},"name":"Notify Quality Failure","type":"n8n-nodes-base.httpRequest","typeVersion":2,"onError":"continueRegularOutput","position":[960,280],"id":"3e8fc639-913d-45ae-aa80-1f0ecd1e9cbd"},{"parameters":{"requestMethod":"POST","url":"http://backend:8000/api/obsidian/log","jsonParameters":true,"options":{},"headerParametersJson":"={{ JSON.stringify({ \"X-N8N-Callback-Secret\": $env.N8N_CALLBACK_SECRET }) }}","bodyParametersJson":"={{ JSON.stringify({ message: 'INCIDENT: ' + $json.workflow_name + ' ' + $json.error_message + ' (correlation: ' + $json.correlation_id + ')', category: 'INCIDENT' }) }}"},"name":"Log to Obsidian","type":"n8n-nodes-base.httpRequest","typeVersion":2,"onError":"continueRegularOutput","position":[1200,280],"id":"0c983b97-7984-4388-aa22-efdf2603dd2a"},{"parameters":{"fromEmail":"={{ $env.QUALITY_ALERT_EMAIL_FROM || 'picking-assistant@example.invalid' }}","toEmail":"={{ $env.QUALITY_ALERT_EMAIL_TO || '' }}","subject":"=[INCIDENT] {{ $json.workflow_name }} failed","html":"=<p><strong>Workflow:</strong> {{ $json.workflow_name }}</p><p><strong>Failing Node:</strong> {{ $json.failing_node }}</p><p><strong>Error:</strong> {{ $json.error_message }}</p><p><strong>Correlation ID:</strong> {{ $json.correlation_id }}</p><p><strong>Execution URL:</strong> {{ $json.execution_url }}</p>","options":{}},"name":"Send Email","type":"n8n-nodes-base.emailSend","typeVersion":1,"onError":"continueRegularOutput","position":[1440,280],"id":"0c119e08-1bf8-4d33-85e5-01248fd8bd5a"}],"connections":{"Error Trigger":{"main":[[{"node":"Extract Context","type":"main","index":0}]]},"Extract Context":{"main":[[{"node":"Branch by Workflow","type":"main","index":0}]]},"Branch by Workflow":{"main":[[{"node":"Notify Shortage Failure","type":"main","index":0}],[{"node":"Notify Quality Failure","type":"main","index":0}],[{"node":"Log to Obsidian","type":"main","index":0}]]},"Notify Shortage Failure":{"main":[[{"node":"Log to Obsidian","type":"main","index":0}]]},"Notify Quality Failure":{"main":[[{"node":"Log to Obsidian","type":"main","index":0}]]},"Log to Obsidian":{"main":[[{"node":"Send Email","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"a0495a8f-af67-44c9-a054-1df6388f7a7e","activeVersionId":null,"versionCounter":16,"triggerCount":0,"tags":[{"updatedAt":"2026-03-26T12:06:03.902Z","createdAt":"2026-03-26T12:06:03.902Z","id":"isiJ4PnQNry2RLHc","name":"error-handling"}],"shared":[{"updatedAt":"2026-03-26T12:06:03.902Z","createdAt":"2026-03-26T12:06:03.902Z","role":"workflow:owner","workflowId":"99fa93a638824b84b8578e4c8942c419","projectId":"iBAWD267Vept8IBP","project":{"updatedAt":"2026-03-23T10:47:09.598Z","createdAt":"2026-03-21T19:38:32.132Z","id":"iBAWD267Vept8IBP","name":"Endrit Murati <endrit.murati99@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"a3d35fcb-0e60-4b54-bc69-fded945cc6eb"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-26T12:36:06.968Z","createdAt":"2026-03-23T13:45:35.858Z","id":"8eWVrUfTAUvOAbpdug8oP","name":"Quality Alert Created","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"quality-alert-created","responseMode":"responseNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,280],"id":"da4ab97e-907d-4b39-96d2-1129d403912e"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'accepted', tts_text: 'Quality Alert empfangen.', source: 'n8n', correlation_id: $json.body?.correlation_id || $json.correlation_id }) }}"},"name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[480,120],"id":"416a9a4f-55d3-409c-a413-38f33c7ba0bc"},{"parameters":{"functionCode":"const request = items[0]?.json || {};\nconst input = request.body || request;\nconst payload = input.payload || {};\nconst description = String(payload.description || '').trim();\nconst descriptionLower = description.toLowerCase();\nconst priority = String(payload.priority || '0');\nconst photoCount = Number(payload.photo_count || 0);\nlet aiDisposition = 'sellable';\nlet aiConfidence = 0.62;\nlet aiRecommendedAction = 'Sichtpruefung durch Qualitaetsteam.';\nif (priority === '3' || /(totalschaden|zerstoert|eingedrueckt|bruch|gebrochen)/.test(descriptionLower)) {\n  aiDisposition = 'scrap';\n  aiConfidence = 0.94;\n  aiRecommendedAction = 'Ware sperren, aussondern und Schichtleitung informieren.';\n} else if (priority === '2' || photoCount > 0 || /(defekt|gerissen|feucht|nass|offen|beschaedigt)/.test(descriptionLower)) {\n  aiDisposition = 'quarantine';\n  aiConfidence = 0.87;\n  aiRecommendedAction = 'Ware sperren und manuelle Pruefung anfordern.';\n} else if (/(kratzer|etikett|verpackung|kleber|nacharbeit)/.test(descriptionLower)) {\n  aiDisposition = 'rework';\n  aiConfidence = 0.79;\n  aiRecommendedAction = 'Nacharbeit pruefen und Verpackung korrigieren.';\n}\nconst severityLabel = priority === '3' ? 'kritisch' : priority === '2' ? 'hoch' : 'normal';\nconst aiSummary = description\n  ? `Automatische V1-Bewertung (${severityLabel}): ${description}`\n  : `Automatische V1-Bewertung fuer Alert ${payload.alert_id || ''}.`;\nconst notify = priority === '2' || priority === '3' || photoCount > 0 || aiDisposition !== 'sellable';\nreturn [{ json: {\n  correlation_id: input.correlation_id,\n  alert_id: payload.alert_id,\n  ai_disposition: aiDisposition,\n  ai_confidence: aiConfidence,\n  ai_summary: aiSummary,\n  ai_recommended_action: aiRecommendedAction,\n  ai_provider: 'n8n-heuristic-agent',\n  ai_model: 'quality-v1',\n  log_message: `Alert ${payload.name || payload.alert_id}: ${aiDisposition} | Prioritaet ${priority} | ${description || 'ohne Beschreibung'}`,\n  email_subject: `[QA] Alert ${payload.name || payload.alert_id} (${severityLabel})`,\n  email_html: `<p><strong>Alert:</strong> ${payload.name || payload.alert_id}</p><p><strong>Einstufung:</strong> ${aiDisposition}</p><p><strong>Empfehlung:</strong> ${aiRecommendedAction}</p><p><strong>Beschreibung:</strong> ${description || 'ohne Beschreibung'}</p><p><strong>Fotos:</strong> ${photoCount}</p>`,\n  notify,\n} }];"},"name":"Assess Alert","type":"n8n-nodes-base.function","typeVersion":1,"position":[540,280],"id":"3f59ff20-bfeb-4155-8003-c253a181cd18"},{"parameters":{"requestMethod":"POST","url":"http://backend:8000/api/internal/n8n/quality-assessment","jsonParameters":true,"options":{},"headerParametersJson":"={{ JSON.stringify({ \"X-N8N-Callback-Secret\": $env.N8N_CALLBACK_SECRET, \"Idempotency-Key\": $json.correlation_id }) }}","bodyParametersJson":"={{ JSON.stringify({ correlation_id: $json.correlation_id, alert_id: $json.alert_id, ai_disposition: $json.ai_disposition, ai_confidence: $json.ai_confidence, ai_summary: $json.ai_summary, ai_recommended_action: $json.ai_recommended_action, ai_provider: $json.ai_provider, ai_model: $json.ai_model }) }}"},"name":"Write Assessment","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[850,220],"id":"14e5e5de-acf0-4443-ae8d-2aa8c8bda928"},{"parameters":{"requestMethod":"POST","url":"http://backend:8000/api/obsidian/log","jsonParameters":true,"options":{},"headerParametersJson":"={{ JSON.stringify({ \"X-N8N-Callback-Secret\": $env.N8N_CALLBACK_SECRET }) }}","bodyParametersJson":"={{ JSON.stringify({ category: 'QA-ALARM', message: $json.log_message }) }}"},"name":"Log To Obsidian","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[1100,340],"id":"8067e3e7-ba72-4d1b-9cce-c86cb12f6b60"},{"parameters":{"functionCode":"return items.filter((item) => Boolean(item?.json?.notify));"},"name":"Only Critical Notifications","type":"n8n-nodes-base.function","typeVersion":1,"position":[850,420],"id":"cc01eee7-28b0-4ed9-857e-9f5cf30577e7"},{"parameters":{"fromEmail":"={{ $env.QUALITY_ALERT_EMAIL_FROM || 'picking-assistant@example.invalid' }}","toEmail":"={{ $env.QUALITY_ALERT_EMAIL_TO || '' }}","subject":"={{ $json.email_subject }}","html":"={{ $json.email_html }}","options":{}},"name":"Send Email","type":"n8n-nodes-base.emailSend","typeVersion":1,"onError":"continueRegularOutput","position":[1100,460],"id":"54a50d66-477f-4b49-a8c4-060591dbd4b7"}],"connections":{"Webhook":{"main":[[{"node":"Respond","type":"main","index":0},{"node":"Assess Alert","type":"main","index":0}]]},"Assess Alert":{"main":[[{"node":"Write Assessment","type":"main","index":0},{"node":"Only Critical Notifications","type":"main","index":0}]]},"Write Assessment":{"main":[[{"node":"Log To Obsidian","type":"main","index":0}]]},"Only Critical Notifications":{"main":[[{"node":"Send Email","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","errorWorkflow":"99fa93a638824b84b8578e4c8942c419"},"staticData":null,"meta":null,"pinData":{},"versionId":"9b12fb53-f7fe-421c-b2cf-00d8c0e31f3d","activeVersionId":null,"versionCounter":27,"triggerCount":1,"tags":[{"updatedAt":"2026-03-23T13:45:34.296Z","createdAt":"2026-03-23T13:45:34.296Z","id":"vQ8WlKGk0WWSGlXo","name":"quality"},{"updatedAt":"2026-03-26T12:06:08.589Z","createdAt":"2026-03-26T12:06:08.589Z","id":"qQirm3srBa7xsoK2","name":"cqrs"}],"shared":[{"updatedAt":"2026-03-23T13:45:35.858Z","createdAt":"2026-03-23T13:45:35.858Z","role":"workflow:owner","workflowId":"8eWVrUfTAUvOAbpdug8oP","projectId":"iBAWD267Vept8IBP","project":{"updatedAt":"2026-03-23T10:47:09.598Z","createdAt":"2026-03-21T19:38:32.132Z","id":"iBAWD267Vept8IBP","name":"Endrit Murati <endrit.murati99@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"a3d35fcb-0e60-4b54-bc69-fded945cc6eb"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-26T12:36:09.149Z","createdAt":"2026-03-24T18:07:32.810Z","id":"B3vBzqOM2J7pkahwUGtsn","name":"Voice Exception Query","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"voice-exception-query","responseMode":"responseNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[220,280],"id":"152f045f-5179-4887-b717-323ec2f268d4"},{"parameters":{"functionCode":"const request = items[0]?.json || {};\nconst input = request.body || request;\nconst payload = input.payload || {};\nconst kitName = String(payload.kit_name || '').trim();\nconst lineName = String(payload.line_display_name || 'dem aktuellen Artikel').trim();\nconst question = String(payload.text || '').trim();\nconst intent = String(payload.intent || 'unknown');\nconst stockSummary = String(payload.stock_summary_text || '').trim();\nconst obsidianContext = String(payload.obsidian_context_text || '').trim();\nconst voiceIntro = String(payload.voice_intro || '').trim();\nconst currentLocation = String(payload.current_location_label || '').trim();\nconst recommendation = payload.default_recommendation || null;\nconst defaultRecommendationText = String(payload.default_recommendation_text || '').trim();\nconst pickingContext = input.picking_context || {};\nlet ttsText = '';\nif (intent === 'stock_query' && stockSummary) {\n  ttsText = stockSummary;\n} else if (intent === 'problem' && recommendation) {\n  const sourceName = (typeof recommendation === 'object' && recommendation.recommended_location) ? recommendation.recommended_location : 'einem Alternativplatz';\n  ttsText = `Am aktuellen Platz ${currentLocation || 'des Artikels'} ist kein verfuegbarer Bestand mehr vorhanden. Ich habe einen Nachschub aus ${sourceName} vorbereitet.`;\n} else if (obsidianContext) {\n  ttsText = `Du baust ${kitName || 'gerade einen Auftrag'}. ${obsidianContext}`;\n} else if (voiceIntro) {\n  ttsText = voiceIntro;\n} else if (kitName) {\n  ttsText = `Du baust ${kitName}. Aktuell geht es um ${lineName}.`;\n} else {\n  ttsText = `Aktuell geht es um ${lineName}. Frage: ${question || 'keine Frage uebermittelt'}.`;\n}\nconst altLocationIds = Array.isArray(pickingContext.alternative_location_ids) ? pickingContext.alternative_location_ids : [];\nreturn [{ json: {\n  status: 'ok',\n  tts_text: ttsText,\n  action: 'none',\n  referenced_product_id: null,\n  referenced_location_id: null,\n  confidence: 0.8,\n  source: 'n8n-context-agent',\n  correlation_id: input.correlation_id,\n  recommendation,\n  default_recommendation_text: defaultRecommendationText,\n  picking_context: pickingContext,\n  alt_location_ids: altLocationIds,\n} }];"},"name":"AI Synthesize","type":"n8n-nodes-base.function","typeVersion":1,"position":[470,280],"id":"1140f607-c837-4c7c-94df-a073123cddf2"},{"parameters":{"functionCode":"const input = items[0]?.json || {};\nconst VALID_ACTIONS = ['none', 'ask_supervisor', 'check_alt_location', 'suggest_replenishment'];\nconst pickingContext = input.picking_context || {};\nconst altLocationIds = input.alt_location_ids || [];\nlet ttsText = input.tts_text;\nlet action = input.action;\nlet referencedProductId = input.referenced_product_id;\nlet referencedLocationId = input.referenced_location_id;\nlet confidence = input.confidence;\nconst fallbackTts = input.default_recommendation_text || ttsText || 'Bitte wende dich an den Schichtleiter.';\nlet validationFailed = false;\nif (!ttsText || typeof ttsText !== 'string' || ttsText.trim() === '') {\n  validationFailed = true;\n}\nif (!VALID_ACTIONS.includes(action)) {\n  validationFailed = true;\n}\nif (referencedProductId !== null && referencedProductId !== pickingContext.product_id) {\n  validationFailed = true;\n}\nif (referencedLocationId !== null) {\n  const isMainLocation = referencedLocationId === pickingContext.location_id;\n  const isAltLocation = altLocationIds.includes(referencedLocationId);\n  if (!isMainLocation && !isAltLocation) {\n    validationFailed = true;\n  }\n}\nif (typeof confidence !== 'number' || confidence < 0.5) {\n  validationFailed = true;\n}\nif (validationFailed) {\n  ttsText = fallbackTts;\n  action = 'none';\n  referencedProductId = null;\n  referencedLocationId = null;\n  confidence = 0.5;\n}\nreturn [{ json: {\n  status: input.status || 'ok',\n  tts_text: ttsText,\n  action,\n  referenced_product_id: referencedProductId,\n  referenced_location_id: referencedLocationId,\n  confidence,\n  source: input.source,\n  correlation_id: input.correlation_id,\n  recommendation: input.recommendation || null,\n} }];"},"name":"Validate Response","type":"n8n-nodes-base.function","typeVersion":1,"position":[720,280],"id":"3708757c-f04f-4656-a3a8-a209375b4320"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ status: $json.status, tts_text: $json.tts_text, action: $json.action, referenced_product_id: $json.referenced_product_id, referenced_location_id: $json.referenced_location_id, confidence: $json.confidence, source: $json.source, correlation_id: $json.correlation_id, recommendation: $json.recommendation || null }) }}"},"name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[970,280],"id":"d377ec8b-1a26-4108-b9c5-1259f133713a"}],"connections":{"Webhook":{"main":[[{"node":"AI Synthesize","type":"main","index":0}]]},"AI Synthesize":{"main":[[{"node":"Validate Response","type":"main","index":0}]]},"Validate Response":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","errorWorkflow":"99fa93a638824b84b8578e4c8942c419"},"staticData":null,"meta":null,"pinData":{},"versionId":"f2f31c55-5add-46a7-ad35-a48e6862b4b9","activeVersionId":null,"versionCounter":16,"triggerCount":1,"tags":[{"updatedAt":"2026-03-24T18:07:31.270Z","createdAt":"2026-03-24T18:07:31.270Z","id":"j2mcEj3loBauFkca","name":"voice"},{"updatedAt":"2026-03-26T12:06:08.589Z","createdAt":"2026-03-26T12:06:08.589Z","id":"qQirm3srBa7xsoK2","name":"cqrs"}],"shared":[{"updatedAt":"2026-03-24T18:07:32.810Z","createdAt":"2026-03-24T18:07:32.810Z","role":"workflow:owner","workflowId":"B3vBzqOM2J7pkahwUGtsn","projectId":"iBAWD267Vept8IBP","project":{"updatedAt":"2026-03-23T10:47:09.598Z","createdAt":"2026-03-21T19:38:32.132Z","id":"iBAWD267Vept8IBP","name":"Endrit Murati <endrit.murati99@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"a3d35fcb-0e60-4b54-bc69-fded945cc6eb"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-26T12:36:11.612Z","createdAt":"2026-03-26T12:06:13.066Z","id":"3c5c3910481e4c27aabd5a3599849317","name":"Shortage Reported","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"shortage-reported","responseMode":"responseNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[220,280],"id":"ee33a512-3fe0-47c8-9f56-241547ad3bca"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'accepted', tts_text: 'Nachschub wird vorbereitet.', source: 'n8n', correlation_id: $json.body?.correlation_id || $json.correlation_id }) }}"},"name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[470,120],"id":"ac11db81-24f4-442c-855c-97c9224f4ddc"},{"parameters":{"functionCode":"const request = items[0]?.json || {};\nconst input = request.body || request;\nconst payload = input.payload || {};\nconst recommendation = payload.recommendation || null;\nconst pickingContext = input.picking_context || {};\nconst picker = input.picker || {};\nif (!recommendation || !recommendation.recommended_location_id || !pickingContext.location_id) {\n  return [];\n}\nconst ticketText = [\n  'Automatisch erzeugter Nachschubauftrag aus dem Voice-Exception-Pfad.',\n  payload.text ? `Meldung: ${payload.text}` : '',\n  recommendation.reason ? `Grund: ${recommendation.reason}` : '',\n].filter(Boolean).join(' ');\nreturn [{ json: {\n  correlation_id: input.correlation_id,\n  picking_id: pickingContext.picking_id,\n  product_id: pickingContext.product_id,\n  location_id: pickingContext.location_id,\n  recommended_location_id: recommendation.recommended_location_id,\n  recommended_location: recommendation.recommended_location || '',\n  quantity: recommendation.quantity || 1,\n  reason: recommendation.reason || 'Automatische Nachschubanforderung nach Fehlmengen-Hinweis.',\n  ticket_text: ticketText,\n  requested_by_user_id: payload.requested_by_user_id || picker.user_id || null,\n  requested_by_name: picker.name || '',\n  log_message: `Nachschub fuer Picking ${pickingContext.picking_id} von ${recommendation.recommended_location || 'Alternativplatz'} nach Zielplatz ${pickingContext.location_id} angestossen.`,\n} }];"},"name":"Prepare Replenishment","type":"n8n-nodes-base.function","typeVersion":1,"position":[540,320],"id":"63866c10-8792-471d-93db-9a368cd1c9d0"},{"parameters":{"requestMethod":"POST","url":"http://backend:8000/api/internal/n8n/replenishment-action","jsonParameters":true,"options":{},"headerParametersJson":"={{ JSON.stringify({ \"X-N8N-Callback-Secret\": $env.N8N_CALLBACK_SECRET, \"Idempotency-Key\": $json.correlation_id }) }}","bodyParametersJson":"={{ JSON.stringify({ correlation_id: $json.correlation_id, picking_id: $json.picking_id, product_id: $json.product_id, location_id: $json.location_id, recommended_location_id: $json.recommended_location_id, recommended_location: $json.recommended_location, quantity: $json.quantity, reason: $json.reason, ticket_text: $json.ticket_text, requested_by_user_id: $json.requested_by_user_id, requested_by_name: $json.requested_by_name }) }}"},"name":"Create Replenishment","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[860,260],"id":"fa23c698-6314-4c46-af90-23d0c6d9b9a7"},{"parameters":{"requestMethod":"POST","url":"http://backend:8000/api/obsidian/log","jsonParameters":true,"options":{},"headerParametersJson":"={{ JSON.stringify({ \"X-N8N-Callback-Secret\": $env.N8N_CALLBACK_SECRET }) }}","bodyParametersJson":"={{ JSON.stringify({ category: 'REPLENISHMENT', message: $json.log_message }) }}"},"name":"Log To Obsidian","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[1110,260],"id":"953ecbbc-c275-4790-a1eb-6524995e6a78"}],"connections":{"Webhook":{"main":[[{"node":"Respond","type":"main","index":0},{"node":"Prepare Replenishment","type":"main","index":0}]]},"Prepare Replenishment":{"main":[[{"node":"Create Replenishment","type":"main","index":0}]]},"Create Replenishment":{"main":[[{"node":"Log To Obsidian","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","errorWorkflow":"99fa93a638824b84b8578e4c8942c419"},"staticData":null,"meta":null,"pinData":null,"versionId":"913a34c4-51c8-4068-bb74-a07dc351bb36","activeVersionId":null,"versionCounter":15,"triggerCount":1,"tags":[{"updatedAt":"2026-03-26T12:06:13.066Z","createdAt":"2026-03-26T12:06:13.066Z","id":"BH31zY0VknBCTpVz","name":"replenishment"},{"updatedAt":"2026-03-26T12:06:08.589Z","createdAt":"2026-03-26T12:06:08.589Z","id":"qQirm3srBa7xsoK2","name":"cqrs"}],"shared":[{"updatedAt":"2026-03-26T12:06:13.066Z","createdAt":"2026-03-26T12:06:13.066Z","role":"workflow:owner","workflowId":"3c5c3910481e4c27aabd5a3599849317","projectId":"iBAWD267Vept8IBP","project":{"updatedAt":"2026-03-23T10:47:09.598Z","createdAt":"2026-03-21T19:38:32.132Z","id":"iBAWD267Vept8IBP","name":"Endrit Murati <endrit.murati99@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"a3d35fcb-0e60-4b54-bc69-fded945cc6eb"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-24T08:57:47.094Z","createdAt":"2026-03-23T18:44:22.087Z","id":"wStDWQlQhjovGaQocdPaR","name":"My workflow","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"name":"Odoo Trigger1","type":"n8n-nodes-base.odooTrigger","typeVersion":1,"position":[-608,448],"id":"547953b4-12ec-44c0-9ffd-e3ba06a4d62b"},{"parameters":{"resource":"custom","operation":"get","options":{}},"name":"Get Full Data1","type":"n8n-nodes-base.odoo","typeVersion":1,"position":[-384,448],"id":"da47cbdb-c21d-4447-bba7-db1ed832a796"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Get Full Data1\"].json[\"x_problem_category\"]}}","value2":"damaged"}]}},"name":"Is Damaged?1","type":"n8n-nodes-base.if","typeVersion":1,"position":[-160,448],"id":"cddef33e-d289-4e00-a691-3dc8e58716c8"},{"parameters":{"fromEmail":"picking-system@deine-firma.de","toEmail":"supervisor@deine-firma.de","subject":"⚠️ Kritischer Qualitätsalarm: {{$node[\"Get Full Data\"].json[\"x_problem_category\"]}}","html":"Ein neuer Defekt wurde gemeldet.<br><b>Picking-ID:</b> {{$node[\"Get Full Data\"].json[\"x_picking_id\"]}}<br><b>Beschreibung:</b> {{$node[\"Get Full Data\"].json[\"description\"]}}","attachments":"x_damage_photo","options":{}},"name":"Send Email to Supervisor1","type":"n8n-nodes-base.emailSend","typeVersion":1,"position":[96,320],"id":"cbdd6fb1-d499-4ea0-bca1-3e886b152e15"},{"parameters":{"url":"http://backend:8000/api/obsidian/log","options":{}},"name":"Log to Obsidian1","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[96,560],"id":"e81143ad-a451-42c0-ba9c-24a04abfb96f"}],"connections":{"Get Full Data1":{"main":[[{"node":"Is Damaged?1","type":"main","index":0}]]},"Is Damaged?1":{"main":[[{"node":"Send Email to Supervisor1","type":"main","index":0},{"node":"Log to Obsidian1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"25082deb-c2fd-4be9-a240-26dc7d0fb9f0","activeVersionId":null,"versionCounter":4,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-23T18:44:22.087Z","createdAt":"2026-03-23T18:44:22.087Z","role":"workflow:owner","workflowId":"wStDWQlQhjovGaQocdPaR","projectId":"iBAWD267Vept8IBP","project":{"updatedAt":"2026-03-23T10:47:09.598Z","createdAt":"2026-03-21T19:38:32.132Z","id":"iBAWD267Vept8IBP","name":"Endrit Murati <endrit.murati99@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"a3d35fcb-0e60-4b54-bc69-fded945cc6eb"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-26T12:14:44.181Z","createdAt":"2026-03-24T18:08:47.578Z","id":"wsz_pXItGAzl9Zzg9l9_2","name":"My workflow 2","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{},"name":"Odoo Trigger","type":"n8n-nodes-base.odooTrigger","typeVersion":1,"position":[-144,192],"id":"7f459af7-4d9b-46ce-978b-58a69d8a6a4e"},{"parameters":{"resource":"custom","operation":"get","options":{}},"name":"Get Full Data","type":"n8n-nodes-base.odoo","typeVersion":1,"position":[80,192],"id":"6aea2179-412e-455b-bc6c-8e393a07f654"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Get Full Data\"].json[\"x_problem_category\"]}}","value2":"damaged"}]}},"name":"Is Damaged?","type":"n8n-nodes-base.if","typeVersion":1,"position":[304,192],"id":"d76c96ea-c532-4737-8d0a-ef743feeff23"},{"parameters":{"fromEmail":"picking-system@deine-firma.de","toEmail":"supervisor@deine-firma.de","subject":"⚠️ Kritischer Qualitätsalarm: {{$node[\"Get Full Data\"].json[\"x_problem_category\"]}}","html":"Ein neuer Defekt wurde gemeldet.<br><b>Picking-ID:</b> {{$node[\"Get Full Data\"].json[\"x_picking_id\"]}}<br><b>Beschreibung:</b> {{$node[\"Get Full Data\"].json[\"description\"]}}","attachments":"x_damage_photo","options":{}},"name":"Send Email to Supervisor","type":"n8n-nodes-base.emailSend","typeVersion":1,"position":[560,64],"id":"86f8b9fe-4018-46fb-bec8-4719fb977fc0"},{"parameters":{"url":"http://backend:8000/api/obsidian/log","options":{}},"name":"Log to Obsidian","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[560,304],"id":"7b312a9c-cd81-4c25-8119-333273892e3d"}],"connections":{"Get Full Data":{"main":[[{"node":"Is Damaged?","type":"main","index":0}]]},"Is Damaged?":{"main":[[{"node":"Send Email to Supervisor","type":"main","index":0},{"node":"Log to Obsidian","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"1d966700-1bf1-476c-84fd-3197afa52ed5","activeVersionId":null,"versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-24T18:08:47.578Z","createdAt":"2026-03-24T18:08:47.578Z","role":"workflow:owner","workflowId":"wsz_pXItGAzl9Zzg9l9_2","projectId":"iBAWD267Vept8IBP","project":{"updatedAt":"2026-03-23T10:47:09.598Z","createdAt":"2026-03-21T19:38:32.132Z","id":"iBAWD267Vept8IBP","name":"Endrit Murati <endrit.murati99@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"a3d35fcb-0e60-4b54-bc69-fded945cc6eb"}}],"versionMetadata":{"name":null,"description":null}}]