Mobile Picking und Voice Assistant/n8n/backups/block1-20260328-171135/original/quality-alert-created.json
[{"updatedAt":"2026-03-26T12:45:06.667Z","createdAt":"2026-03-23T13:45:35.858Z","id":"8eWVrUfTAUvOAbpdug8oP","name":"Quality Alert Created","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"quality-alert-created","responseMode":"responseNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,280],"id":"53c3103c-d5d2-4991-852d-309860d711c7"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'accepted', tts_text: 'Quality Alert empfangen.', source: 'n8n', correlation_id: $json.body?.correlation_id || $json.correlation_id }) }}"},"name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[480,120],"id":"d4d8a543-c5a8-4c83-8d40-649db8631df3"},{"parameters":{"functionCode":"const request = items[0]?.json || {};\nconst input = request.body || request;\nconst payload = input.payload || {};\nconst description = String(payload.description || '').trim();\nconst descriptionLower = description.toLowerCase();\nconst priority = String(payload.priority || '0');\nconst photoCount = Number(payload.photo_count || 0);\nlet aiDisposition = 'sellable';\nlet aiConfidence = 0.62;\nlet aiRecommendedAction = 'Sichtpruefung durch Qualitaetsteam.';\nif (priority === '3' || /(totalschaden|zerstoert|eingedrueckt|bruch|gebrochen)/.test(descriptionLower)) {\n  aiDisposition = 'scrap';\n  aiConfidence = 0.94;\n  aiRecommendedAction = 'Ware sperren, aussondern und Schichtleitung informieren.';\n} else if (priority === '2' || photoCount > 0 || /(defekt|gerissen|feucht|nass|offen|beschaedigt)/.test(descriptionLower)) {\n  aiDisposition = 'quarantine';\n  aiConfidence = 0.87;\n  aiRecommendedAction = 'Ware sperren und manuelle Pruefung anfordern.';\n} else if (/(kratzer|etikett|verpackung|kleber|nacharbeit)/.test(descriptionLower)) {\n  aiDisposition = 'rework';\n  aiConfidence = 0.79;\n  aiRecommendedAction = 'Nacharbeit pruefen und Verpackung korrigieren.';\n}\nconst severityLabel = priority === '3' ? 'kritisch' : priority === '2' ? 'hoch' : 'normal';\nconst aiSummary = description\n  ? `Automatische V1-Bewertung (${severityLabel}): ${description}`\n  : `Automatische V1-Bewertung fuer Alert ${payload.alert_id || ''}.`;\nconst notify = priority === '2' || priority === '3' || photoCount > 0 || aiDisposition !== 'sellable';\nreturn [{ json: {\n  correlation_id: input.correlation_id,\n  alert_id: payload.alert_id,\n  ai_disposition: aiDisposition,\n  ai_confidence: aiConfidence,\n  ai_summary: aiSummary,\n  ai_recommended_action: aiRecommendedAction,\n  ai_provider: 'n8n-heuristic-agent',\n  ai_model: 'quality-v1',\n  log_message: `Alert ${payload.name || payload.alert_id}: ${aiDisposition} | Prioritaet ${priority} | ${description || 'ohne Beschreibung'}`,\n  email_subject: `[QA] Alert ${payload.name || payload.alert_id} (${severityLabel})`,\n  email_html: `<p><strong>Alert:</strong> ${payload.name || payload.alert_id}</p><p><strong>Einstufung:</strong> ${aiDisposition}</p><p><strong>Empfehlung:</strong> ${aiRecommendedAction}</p><p><strong>Beschreibung:</strong> ${description || 'ohne Beschreibung'}</p><p><strong>Fotos:</strong> ${photoCount}</p>`,\n  notify,\n} }];"},"name":"Assess Alert","type":"n8n-nodes-base.function","typeVersion":1,"position":[540,280],"id":"2299342a-352a-49e8-83a8-6757b322ca1f"},{"parameters":{"requestMethod":"POST","url":"http://backend:8000/api/internal/n8n/quality-assessment","jsonParameters":true,"options":{},"headerParametersJson":"={{ JSON.stringify({ \"X-N8N-Callback-Secret\": $env.N8N_CALLBACK_SECRET, \"Idempotency-Key\": $json.correlation_id }) }}","bodyParametersJson":"={{ JSON.stringify({ correlation_id: $json.correlation_id, alert_id: $json.alert_id, ai_disposition: $json.ai_disposition, ai_confidence: $json.ai_confidence, ai_summary: $json.ai_summary, ai_recommended_action: $json.ai_recommended_action, ai_provider: $json.ai_provider, ai_model: $json.ai_model }) }}"},"name":"Write Assessment","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[850,220],"id":"042a15dd-831b-4d3c-b8da-0362c1f1ddd6"},{"parameters":{"requestMethod":"POST","url":"http://backend:8000/api/obsidian/log","jsonParameters":true,"options":{},"headerParametersJson":"={{ JSON.stringify({ \"X-N8N-Callback-Secret\": $env.N8N_CALLBACK_SECRET }) }}","bodyParametersJson":"={{ JSON.stringify({ category: 'QA-ALARM', message: $json.log_message }) }}"},"name":"Log To Obsidian","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[1100,340],"id":"b12a8f01-19a1-40ab-b966-85a972d31736"},{"parameters":{"functionCode":"return items.filter((item) => Boolean(item?.json?.notify));"},"name":"Only Critical Notifications","type":"n8n-nodes-base.function","typeVersion":1,"position":[850,420],"id":"3a86a6c8-7f28-457c-82d0-1613cc38af99"},{"parameters":{"fromEmail":"={{ $env.QUALITY_ALERT_EMAIL_FROM || 'picking-assistant@example.invalid' }}","toEmail":"={{ $env.QUALITY_ALERT_EMAIL_TO || '' }}","subject":"={{ $json.email_subject }}","html":"={{ $json.email_html }}","options":{}},"name":"Send Email","type":"n8n-nodes-base.emailSend","typeVersion":1,"onError":"continueRegularOutput","position":[1100,460],"id":"8a739d3c-4422-4cbc-ac46-a665ba1f6990"}],"connections":{"Webhook":{"main":[[{"node":"Respond","type":"main","index":0},{"node":"Assess Alert","type":"main","index":0}]]},"Assess Alert":{"main":[[{"node":"Write Assessment","type":"main","index":0},{"node":"Only Critical Notifications","type":"main","index":0}]]},"Write Assessment":{"main":[[{"node":"Log To Obsidian","type":"main","index":0}]]},"Only Critical Notifications":{"main":[[{"node":"Send Email","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","errorWorkflow":"99fa93a638824b84b8578e4c8942c419"},"staticData":null,"meta":null,"pinData":{},"versionId":"dc42c024-2d4d-42f1-9c90-426df35b23d8","activeVersionId":"dc42c024-2d4d-42f1-9c90-426df35b23d8","versionCounter":33,"triggerCount":1,"tags":[{"updatedAt":"2026-03-23T13:45:34.296Z","createdAt":"2026-03-23T13:45:34.296Z","id":"vQ8WlKGk0WWSGlXo","name":"quality"},{"updatedAt":"2026-03-26T12:06:08.589Z","createdAt":"2026-03-26T12:06:08.589Z","id":"qQirm3srBa7xsoK2","name":"cqrs"}],"shared":[{"updatedAt":"2026-03-23T13:45:35.858Z","createdAt":"2026-03-23T13:45:35.858Z","role":"workflow:owner","workflowId":"8eWVrUfTAUvOAbpdug8oP","projectId":"iBAWD267Vept8IBP","project":{"updatedAt":"2026-03-23T10:47:09.598Z","createdAt":"2026-03-21T19:38:32.132Z","id":"iBAWD267Vept8IBP","name":"Endrit Murati <endrit.murati99@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"a3d35fcb-0e60-4b54-bc69-fded945cc6eb"}}],"versionMetadata":{"name":null,"description":null}}]
