Mobile Picking und Voice Assistant/n8n/backups/block1-20260328-171135/original/shortage-reported.json
[{"updatedAt":"2026-03-26T12:45:10.747Z","createdAt":"2026-03-26T12:06:13.066Z","id":"3c5c3910481e4c27aabd5a3599849317","name":"Shortage Reported","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"shortage-reported","responseMode":"responseNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[220,280],"id":"265ec71f-1b4d-4d31-a222-7bb28873fd27"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'accepted', tts_text: 'Nachschub wird vorbereitet.', source: 'n8n', correlation_id: $json.body?.correlation_id || $json.correlation_id }) }}"},"name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[470,120],"id":"840e75ed-c6b7-4407-9de1-b06bd3801038"},{"parameters":{"functionCode":"const request = items[0]?.json || {};\nconst input = request.body || request;\nconst payload = input.payload || {};\nconst recommendation = payload.recommendation || null;\nconst pickingContext = input.picking_context || {};\nconst picker = input.picker || {};\nif (!recommendation || !recommendation.recommended_location_id || !pickingContext.location_id) {\n  return [];\n}\nconst ticketText = [\n  'Automatisch erzeugter Nachschubauftrag aus dem Voice-Exception-Pfad.',\n  payload.text ? `Meldung: ${payload.text}` : '',\n  recommendation.reason ? `Grund: ${recommendation.reason}` : '',\n].filter(Boolean).join(' ');\nreturn [{ json: {\n  correlation_id: input.correlation_id,\n  picking_id: pickingContext.picking_id,\n  product_id: pickingContext.product_id,\n  location_id: pickingContext.location_id,\n  recommended_location_id: recommendation.recommended_location_id,\n  recommended_location: recommendation.recommended_location || '',\n  quantity: recommendation.quantity || 1,\n  reason: recommendation.reason || 'Automatische Nachschubanforderung nach Fehlmengen-Hinweis.',\n  ticket_text: ticketText,\n  requested_by_user_id: payload.requested_by_user_id || picker.user_id || null,\n  requested_by_name: picker.name || '',\n  log_message: `Nachschub fuer Picking ${pickingContext.picking_id} von ${recommendation.recommended_location || 'Alternativplatz'} nach Zielplatz ${pickingContext.location_id} angestossen.`,\n} }];"},"name":"Prepare Replenishment","type":"n8n-nodes-base.function","typeVersion":1,"position":[540,320],"id":"931f9b9d-0b83-4529-8b03-a2dcf5a08c47"},{"parameters":{"requestMethod":"POST","url":"http://backend:8000/api/internal/n8n/replenishment-action","jsonParameters":true,"options":{},"headerParametersJson":"={{ JSON.stringify({ \"X-N8N-Callback-Secret\": $env.N8N_CALLBACK_SECRET, \"Idempotency-Key\": $json.correlation_id }) }}","bodyParametersJson":"={{ JSON.stringify({ correlation_id: $json.correlation_id, picking_id: $json.picking_id, product_id: $json.product_id, location_id: $json.location_id, recommended_location_id: $json.recommended_location_id, recommended_location: $json.recommended_location, quantity: $json.quantity, reason: $json.reason, ticket_text: $json.ticket_text, requested_by_user_id: $json.requested_by_user_id, requested_by_name: $json.requested_by_name }) }}"},"name":"Create Replenishment","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[860,260],"id":"7a3b5ce2-bd23-4435-8b44-35b74cf61f4e"},{"parameters":{"requestMethod":"POST","url":"http://backend:8000/api/obsidian/log","jsonParameters":true,"options":{},"headerParametersJson":"={{ JSON.stringify({ \"X-N8N-Callback-Secret\": $env.N8N_CALLBACK_SECRET }) }}","bodyParametersJson":"={{ JSON.stringify({ category: 'REPLENISHMENT', message: $json.log_message }) }}"},"name":"Log To Obsidian","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[1110,260],"id":"9441bebd-73c5-46f0-9d31-668eff33a109"}],"connections":{"Webhook":{"main":[[{"node":"Respond","type":"main","index":0},{"node":"Prepare Replenishment","type":"main","index":0}]]},"Prepare Replenishment":{"main":[[{"node":"Create Replenishment","type":"main","index":0}]]},"Create Replenishment":{"main":[[{"node":"Log To Obsidian","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","errorWorkflow":"99fa93a638824b84b8578e4c8942c419"},"staticData":null,"meta":null,"pinData":null,"versionId":"33636e52-4e7a-4b79-85e3-bd17cfb0e36a","activeVersionId":"33636e52-4e7a-4b79-85e3-bd17cfb0e36a","versionCounter":21,"triggerCount":1,"tags":[{"updatedAt":"2026-03-26T12:06:08.589Z","createdAt":"2026-03-26T12:06:08.589Z","id":"qQirm3srBa7xsoK2","name":"cqrs"},{"updatedAt":"2026-03-26T12:06:13.066Z","createdAt":"2026-03-26T12:06:13.066Z","id":"BH31zY0VknBCTpVz","name":"replenishment"}],"shared":[{"updatedAt":"2026-03-26T12:06:13.066Z","createdAt":"2026-03-26T12:06:13.066Z","role":"workflow:owner","workflowId":"3c5c3910481e4c27aabd5a3599849317","projectId":"iBAWD267Vept8IBP","project":{"updatedAt":"2026-03-23T10:47:09.598Z","createdAt":"2026-03-21T19:38:32.132Z","id":"iBAWD267Vept8IBP","name":"Endrit Murati <endrit.murati99@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"a3d35fcb-0e60-4b54-bc69-fded945cc6eb"}}],"versionMetadata":{"name":null,"description":null}}]
