Mobile Picking und Voice Assistant/n8n/backups/block1-20260328-171135/original/voice-exception-query.json
[{"updatedAt":"2026-03-26T12:45:08.679Z","createdAt":"2026-03-24T18:07:32.810Z","id":"B3vBzqOM2J7pkahwUGtsn","name":"Voice Exception Query","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"voice-exception-query","responseMode":"responseNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[220,280],"id":"aa6830c3-baa3-4586-9b49-03c698e7c951"},{"parameters":{"functionCode":"const request = items[0]?.json || {};\nconst input = request.body || request;\nconst payload = input.payload || {};\nconst kitName = String(payload.kit_name || '').trim();\nconst lineName = String(payload.line_display_name || 'dem aktuellen Artikel').trim();\nconst question = String(payload.text || '').trim();\nconst intent = String(payload.intent || 'unknown');\nconst stockSummary = String(payload.stock_summary_text || '').trim();\nconst obsidianContext = String(payload.obsidian_context_text || '').trim();\nconst voiceIntro = String(payload.voice_intro || '').trim();\nconst currentLocation = String(payload.current_location_label || '').trim();\nconst recommendation = payload.default_recommendation || null;\nconst defaultRecommendationText = String(payload.default_recommendation_text || '').trim();\nconst pickingContext = input.picking_context || {};\nlet ttsText = '';\nif (intent === 'stock_query' && stockSummary) {\n  ttsText = stockSummary;\n} else if (intent === 'problem' && recommendation) {\n  const sourceName = (typeof recommendation === 'object' && recommendation.recommended_location) ? recommendation.recommended_location : 'einem Alternativplatz';\n  ttsText = `Am aktuellen Platz ${currentLocation || 'des Artikels'} ist kein verfuegbarer Bestand mehr vorhanden. Ich habe einen Nachschub aus ${sourceName} vorbereitet.`;\n} else if (obsidianContext) {\n  ttsText = `Du baust ${kitName || 'gerade einen Auftrag'}. ${obsidianContext}`;\n} else if (voiceIntro) {\n  ttsText = voiceIntro;\n} else if (kitName) {\n  ttsText = `Du baust ${kitName}. Aktuell geht es um ${lineName}.`;\n} else {\n  ttsText = `Aktuell geht es um ${lineName}. Frage: ${question || 'keine Frage uebermittelt'}.`;\n}\nconst altLocationIds = Array.isArray(pickingContext.alternative_location_ids) ? pickingContext.alternative_location_ids : [];\nreturn [{ json: {\n  status: 'ok',\n  tts_text: ttsText,\n  action: 'none',\n  referenced_product_id: null,\n  referenced_location_id: null,\n  confidence: 0.8,\n  source: 'n8n-context-agent',\n  correlation_id: input.correlation_id,\n  recommendation,\n  default_recommendation_text: defaultRecommendationText,\n  picking_context: pickingContext,\n  alt_location_ids: altLocationIds,\n} }];"},"name":"AI Synthesize","type":"n8n-nodes-base.function","typeVersion":1,"position":[470,280],"id":"1e32b4fa-b2f9-46e2-9ea6-48b6a43ede85"},{"parameters":{"functionCode":"const input = items[0]?.json || {};\nconst VALID_ACTIONS = ['none', 'ask_supervisor', 'check_alt_location', 'suggest_replenishment'];\nconst pickingContext = input.picking_context || {};\nconst altLocationIds = input.alt_location_ids || [];\nlet ttsText = input.tts_text;\nlet action = input.action;\nlet referencedProductId = input.referenced_product_id;\nlet referencedLocationId = input.referenced_location_id;\nlet confidence = input.confidence;\nconst fallbackTts = input.default_recommendation_text || ttsText || 'Bitte wende dich an den Schichtleiter.';\nlet validationFailed = false;\nif (!ttsText || typeof ttsText !== 'string' || ttsText.trim() === '') {\n  validationFailed = true;\n}\nif (!VALID_ACTIONS.includes(action)) {\n  validationFailed = true;\n}\nif (referencedProductId !== null && referencedProductId !== pickingContext.product_id) {\n  validationFailed = true;\n}\nif (referencedLocationId !== null) {\n  const isMainLocation = referencedLocationId === pickingContext.location_id;\n  const isAltLocation = altLocationIds.includes(referencedLocationId);\n  if (!isMainLocation && !isAltLocation) {\n    validationFailed = true;\n  }\n}\nif (typeof confidence !== 'number' || confidence < 0.5) {\n  validationFailed = true;\n}\nif (validationFailed) {\n  ttsText = fallbackTts;\n  action = 'none';\n  referencedProductId = null;\n  referencedLocationId = null;\n  confidence = 0.5;\n}\nreturn [{ json: {\n  status: input.status || 'ok',\n  tts_text: ttsText,\n  action,\n  referenced_product_id: referencedProductId,\n  referenced_location_id: referencedLocationId,\n  confidence,\n  source: input.source,\n  correlation_id: input.correlation_id,\n  recommendation: input.recommendation || null,\n} }];"},"name":"Validate Response","type":"n8n-nodes-base.function","typeVersion":1,"position":[720,280],"id":"b349c2b4-1f5e-464f-8069-54ecf4a8c31d"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ status: $json.status, tts_text: $json.tts_text, action: $json.action, referenced_product_id: $json.referenced_product_id, referenced_location_id: $json.referenced_location_id, confidence: $json.confidence, source: $json.source, correlation_id: $json.correlation_id, recommendation: $json.recommendation || null }) }}"},"name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[970,280],"id":"9c3733a0-f99f-44fc-b1cb-d20e169a4627"}],"connections":{"Webhook":{"main":[[{"node":"AI Synthesize","type":"main","index":0}]]},"AI Synthesize":{"main":[[{"node":"Validate Response","type":"main","index":0}]]},"Validate Response":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","errorWorkflow":"99fa93a638824b84b8578e4c8942c419"},"staticData":null,"meta":null,"pinData":{},"versionId":"8562e72c-6eb3-449d-82f8-0b750e6c7b38","activeVersionId":"8562e72c-6eb3-449d-82f8-0b750e6c7b38","versionCounter":22,"triggerCount":1,"tags":[{"updatedAt":"2026-03-24T18:07:31.270Z","createdAt":"2026-03-24T18:07:31.270Z","id":"j2mcEj3loBauFkca","name":"voice"},{"updatedAt":"2026-03-26T12:06:08.589Z","createdAt":"2026-03-26T12:06:08.589Z","id":"qQirm3srBa7xsoK2","name":"cqrs"}],"shared":[{"updatedAt":"2026-03-24T18:07:32.810Z","createdAt":"2026-03-24T18:07:32.810Z","role":"workflow:owner","workflowId":"B3vBzqOM2J7pkahwUGtsn","projectId":"iBAWD267Vept8IBP","project":{"updatedAt":"2026-03-23T10:47:09.598Z","createdAt":"2026-03-21T19:38:32.132Z","id":"iBAWD267Vept8IBP","name":"Endrit Murati <endrit.murati99@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"a3d35fcb-0e60-4b54-bc69-fded945cc6eb"}}],"versionMetadata":{"name":null,"description":null}}]
